@import '../../styles/variables.scss';

.dropdown {
    margin-bottom: 10px;
    position: relative;
    outline: none;
    max-width: 250px;

    .dropdown-title {
        display: block;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &.arrow {
            &.text {
                padding-right: 20px;
            }

            .iconArrow {
                position: absolute;
                right: 0;
                top: 5px;
            }
        }
    }

    .dropdown-title:hover {
        cursor: pointer;
        .icon {
            color: $primary-hover-color;
            fill: $primary-hover-color !important;
        }
    }

    .dropdown-title-border {
        border-radius: 8px;
        border: 1px solid $white-background-lines;
        padding: 0 20px 0 10px;
        box-sizing: border-box;
        cursor: pointer;
        line-height: 29px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        height: 32px;

        span {
            font-weight: 500;
            user-select: none;
        }
    }
    .dropdown-title-error{
        border-color: $error-color;
        &:hover{
            border-color: $error-color !important;
        }
    }
    
    .iconArrowWithBorder {
        position: absolute;
        cursor: pointer;
        font-size: 10px;
        line-height: 32px;
        top: 0;
        right: 5px;
    }

    .iconArrow {
        font-size: 10px;
        margin: 0 5px;
    }

    &:hover {
        .dropdown-title-border {
            &:hover {
                border-color: $white-background-lines-hover;
            }
        }

        .iconArrowWithBorder {
            color: $primary-color;
        }
    }

    &.is-open {
        .iconArrowWithBorder {
            color: $primary-color;
        }
    }

    &.is-disabled {
        .dropdown-title-border {
            background-color: $disabled-field;
            border-color: $white-background-lines;
            cursor: default;

            &:hover {
                border-color: $white-background-lines;
            }

            span {
                color: $secondary-disabled-color;
            }
        }

        .iconArrowWithBorder {
            color: $secondary-disabled-color;
        }
    }

    &.icon-dropdown {
        background-color: $primary-color;
        border-radius: 8px;
        cursor: pointer;
        display: inline-block;

        .dropdown-title {
            background-color: $primary-color;
            display: initial;

            .icon {
                font-size: 16px;
                color: $white-color;
                padding: 8px 7px;
                margin-right: 0;
                line-height: 16px;
            }

            .iconArrow {
                font-size: 10px;
                margin: 0 10px 0 2px;
                position: relative;
                top: -3px;
                padding: 0;
            }
        }

        &:hover {
            background-color: $primary-hover-color;
            border-color: $primary-hover-color;

            .dropdown-title {
                background-color: $primary-hover-color;
            }
        }

        &.is-open {
            border: 1px solid $primary-color;
            background-color: $white-color;
            cursor: pointer;

            .dropdown-title {
                background-color: $white-color;
            }

            .icon {
                color: $primary-color;      
                fill: $primary-color !important;         
            }

            &:hover {
                .iconArrow {
                    color: $primary-hover-color;
                }
            }
        }

        &.is-disabled {
            background-color: $primary-disabled-color;
            cursor: default;

            .dropdown-title {
                background-color: $primary-disabled-color;
            }
        }
    }

    &.arrow-dropdown {
        border-radius: 0 8px 8px 0;
        border: 1px solid $white-background-lines;
        height: 30px;
        cursor: pointer;

        .dropdown-title {
            .iconArrow {
                position: relative;
                top: 4px;
                padding: 0;
            }
        }

        &:hover {
            border-color: $white-background-lines-hover;
            
            .dropdown-title {
                .iconArrow {
                    color: $primary-color;
                }
            } 
        }

        &.is-open {
            .dropdown-title {
                .iconArrow {
                    color: $primary-color;
                }
            } 
        }

        &.is-disabled {
            cursor: default;
            background-color: $disabled-field;
            border-color: $white-background-lines;

            .dropdown-title {
                .iconArrow {
                    color: $secondary-disabled-color;
                }
            }
        }
    }
}

.callout {
    &.dropdown-callout {
        border-color: $primary-color;

        &.slideUpIn20 {
            margin-top: -5px;
        }

        &.slideDownIn20 {
            margin-top: 5px;
        }

        &.slideLeftIn20 {
            margin-right: 5px;
        }

        &.slideRightIn20 {
            margin-left: 5px;
        }

        .callout-main {
            .dropdown-items {
                padding: 4px 0;
                margin: 0;

                .dropdown-item {
                    line-height: 28px;
                    padding: 0 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    user-select: none;
                    cursor: pointer;
                    display: block;

                    >.tooltip-container {
                        display: block;
                    }

                    &.is-selected {
                        background-color: $white-color;
                        color: $primary-color;
                    }
        
                    &:hover {
                        background-color: $primary-background-hover-color;
                    }

                    &.has-tooltip {
                        padding: 0;

                        >.tooltip-container {
                            padding: 0 10px;
                        }
                    }
                }               
            }
        }
    }
}
