 @import '../../index.scss';

$Dropdown-selectedItem: $secondary-color;
$Dropdown-selectedItem-hover: $primary-hover-color;
$DropDown-transition-duration: 300ms;
$DropDown-transition-timing: cubic-bezier(0, 1, 0.5, 1);
$DropDown-height: 32px;
$DropDown-item-height: 36px;

@mixin dropdownTitle {
    @include normalize;
    background: $color-white;
    cursor: pointer;
    height: $DropDown-height;
    line-height: $DropDown-height - 2px; // height minus the border
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropdown {
    @include baseFont();
    margin-bottom: 10px;
    position: relative;
    font-size: $font-size-m;
    outline: none;
    div {
        cursor: pointer;
    }

    .iconArrow {
        font-size: $font-size-s;
        margin: 0 5px;
    }

    .iconArrowWithBorder {
        font-size: $font-size-s;
        margin: 0 5px;
        position: absolute;
        top: 0;
        pointer-events: none;
        line-height: 32px;
        right: 12px;
    }
}

.dropdown-title {
    @include dropdownTitle;
}

.dropdown-title-border {
    @include dropdownTitle;
    @include padding(0, $DropDown-height, 0, 12px);
    display: block; 
    border: 1px solid #c8c8c8;
}

.dropdown-items {
    background-color: $color-white;
    width: 100px;
    max-width: 200px;
    height: auto;
    box-shadow: 0 6px 10px rgba(0,0,0,.2);
    padding: 0;
    margin: 0;
    width: auto;

    &.collapsed {
        overflow: hidden;
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        transition-duration: $DropDown-transition-duration;
        transition-timing-function: $DropDown-transition-timing;
    }

    &.expanded {
        transition-duration: $DropDown-transition-duration;
        transition-timing-function: ease-in;
        max-height: 1000px;
        overflow: hidden;
    }

    .dropdown-item {
        box-sizing: border-box;
        display: block;
        line-height: 20px;
        position: relative;
        border: 1px solid transparent;
        word-wrap: break-word;
        cursor: pointer;

        &:hover {
            background-color: $Dropdown-selectedItem-hover;
        }

        span {
            color: $font-primary-color;
        }

        a {
            text-decoration: none;
            padding: 0 7px;

            &:active, &:focus {
                color: transparent;
            }

            &:hover {
                color: $color-black;
            }
        }

        &.is-selected {
            background-color: $Dropdown-selectedItem;

            span, .icon {
                color: $color-white;
            }
        }

        &.is-disabled {
            pointer-events: none;
            cursor: default;
            span {
                color: $font-disabled-color
            }
        }
    }
}
