@import '../../index.scss';

.detailed-server-group{
    @include baseFont();
    width: 100%;
    height: 100%;
    overflow: auto;
    color: $basic-text-color;

    .farm {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}