@import '../../index.scss';

.detailed-server-group {
    height: 100%;
    width: 100%;

    .farm {
        margin: 0;
        display: table;
        padding: 20px;
        padding-bottom: 0;

        .farm-name {
            position: initial;
            padding: 5px;

            .group-icon {
                margin-left: 10px;
            }
        }
    }
}