@import '../../index.scss';

.server-name {
    padding-left: 5px;
    display: inline-block;
}

.server-type {
    display: inline-block;
}

.header {
    margin: auto;
}

.icon {
    padding: 5px 0px 5px 5px;
}

.label {
    padding-right: 10px;
}

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: white;
    border: 1px solid black;
    bottom: 26px;
    color: #fff;
    content: attr(tooltip);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

