.date-time-picker-bar {
    width: 100%;
    display: inline-block;
    height: 45px;
}

.date-time-picker-dropdown {
    display: inline-block;
    margin-top: 5px;
    vertical-align: middle;
    margin-right: 0!important;
}

.date-time-picker-option {
    float: right;
    margin-right: 33px;

    > div {
        display: inline-block;
        margin-right: 7px;
    }
}

.date-time-picker-option:last-child {
    margin-right: 20px;
}
