@import '../../styles/variables.scss';

.date-time-picker-bar {
    display: inline-flex;
    height: 45px;

    .date-time-picker-option {
        margin-right: 33px;
    
        > div {
            display: inline-block;
            margin-right: 10px;
        }

        .date-time-picker-dropdown {
            margin-top: 5px;
            vertical-align: middle;
            margin-right: 0!important;
        }
    }   
}
