@import '../../index.scss';

$tile-height: 214px;
$tile-width: 250px;
$separator-color: #aeaeae;

.server-details {
    border: 1px solid #e8e9ef;
    width: $tile-width;
    height: $tile-height;
    box-sizing: border-box;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    position: relative;
    padding: 0;
    border-left: 15px solid black;

    .server-details-header {
        width: 100%;
        padding: 0;
        display: block;
        height: calc(100% - 56% + 2px);

        .server-name {
            padding: 0px 0px 0px 0px;
            margin: 2px 2px 2px 5px;
            display: inline-block;
            font-size: 14px;
        }

        .disk-icon {
            padding: 0;
            margin: 5px 10px 5px 10px;
        }
    }

    .server-status {
        height: 100%;
        width: 6%;
        background-color: grey;
        float: left;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .tile {
        width: calc(50% - 11px);
        border-top: 1px solid $separator-color;
        color: #a9a9a9;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: inline-block;
        height: calc(28% - 2px);
        padding-left: 10px;

        &:nth-child(even) {
            border-right: 1px solid $separator-color;
        }

        &:nth-child(odd) {
            border-left: 1px solid white;
        }

        .label {
            font-size: 18px;
            text-align: center;
        }
    }

    .icon-User:after {
        content: attr(data-users);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        padding: 0;
        margin: 0px 0px 2px 5px;
    }

    .server-type-icon {
        padding: 0px 0px 0px 0px;
        margin: 5px 0px 0px 5px;

        &:after {
            content: attr(id);
            padding: 0px 0px 0px 0px;
            margin: 5px 0px 0px 5px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 14px;
        }
    }
}
