@import '../../index.scss';

$main-color: #5d5d5d;
$background-color: #f4f4f4;

$font: 'Segoe UI';

.line-chart-container {
    text-align: center;
    font-family: $font;
    font-size: 16px;
    font-weight: 500;
    color: $main-color;
    box-shadow: 1px 1px 1px 1px grey;
    padding-left: 10px;
    display: inline-block;
    user-select: none;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    svg {
        display: block;
        margin-top: -25px;

        .graph-container {
            g {
                .domain {
                    visibility: hidden;
                }

                .tick {
                    line {
                        stroke: #c7c7c7;
                        stroke-width: 1px;
                        margin: 0 auto;
                    }

                    text {
                        font-family: $font;
                        font-size: 12px;
                        opacity: 0.8;
                        fill: $main-color;
                    }
                }
            }

            .graph-line {
                fill: none;
                stroke: $main-color;
                stroke-width: 2px;
                opacity: 0.8;
            }

            .tooltip-text {
                font-family: $font;
                font-size: 12px;
            }
        }
    }
}
