@import '../../index.scss';

$main-color: #5d5d5d;
$background-color: #e8e9ef;
$border-color: #e8e9ef;

.line-chart-component {
    display: inline-block;
    user-select: none;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    svg {
        display: block;
        overflow: visible;
        
        .line-chart-container {
            path {
                fill: none;
                stroke: blue;
            }
            .x-axis, .y-axis {
                path {
                    visibility: hidden;
                }
                .tick {
                    line {
                        stroke: $background-color;
                    }
                }
            }
            .capture-area {
                fill: none;
                pointer-events: all;
            }
        }
    }
}
