@import '../../index.scss';

.tag-container {    
    .tag {
        display: inline-block;
        margin: 5px 4px;

        .icon {
            margin-right: 2px;
            font-size: 12px;
        }
    
        &.edit-tags {
            visibility: hidden;
            cursor: pointer;
            margin-left: 10px;
    
            &:hover {
                .icon {
                    color: $link-color;
                }
            }
        }

        &.points {
            cursor: pointer;
            margin: 0;
            top: -1px;
            position: relative;
        }

        .tag-text {
            max-width: 37px;
            display: inline-block;
            position: relative;
            top: 2px;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &:hover {
        & > .edit-tags {
            visibility: visible;

            .icon, .icon:hover {
                color: $link-color;
            }
        }
    }
}
