.bg-blue {
  background-color: blue;
}

.bg-yellow {
    background-color: yellow;
}

.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}

.white {
    color: white;
}

.black {
    color: black;
}