@import '../../index.scss';

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;

  input {
    display: none;
  }

  .toggle-slider {
    cursor: pointer;
    transition: .4s;
    background-color: #C8C8C9;
    position: relative;
    height: 10px;
    top: 5px;
    width: 28px;
    border-radius: 5px;
    -webkit-transition: .4s;

    &::before {
      position: absolute;
      content: "";
      background-color: $secondary-color;
      border: 2px solid $secondary-color;
      transition: .4s;
      -webkit-transition: .4s;
      border-radius: 50%;
      height: 12px;
      width: 12px;
      left: 0;
      bottom: -3px;
    }

    &::after {
      content: attr(data-off);
      left: 19px;
      top: 4px;
      font-weight: 600;
      font-size: 9px;
      color: darkgrey;
      position: absolute;
      z-index: 1;
    }
  }

  input:checked + .toggle-slider {
    background-color: #FCDEBD;

    &::before {
        background-color: $primary-color;
        border-color: $primary-color;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    &::after {
      content: attr(data-on);
      position: absolute;
      color: $white-color;
      font-size: 9px;
      font-weight: 600;
      top: 4px;
      right: 22px;
    }
  }

  input:disabled + .toggle-slider {
    background-color: #DADADB;
    cursor: default;

    &::before {
        background-color: #C8C8C9;
        border: 2px solid #C8C8C9;
    }
  }

  &.checked {
    .toggle-slider {
      &::before {
        left: -4px;
      }
    }

    input:disabled + .toggle-slider {
      background-color: #FCDEBD;
      
      &::before {
        background-color: #FAC992;
        border: 2px solid #FAC992;
      }
    }
  }
}
