@import '../../index.scss';

$button-commandButtonHeight: 40px;

.hide-button {
    display: none !important;
}

.button {
    font-size: $font-size-m;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $font-primary-color;
    cursor: pointer;
    min-width: 80px;
    padding: 4px 20px 4px;
    height: 32px;
    display: inline-block;

    &:hover {
        background-color: $primary-hover-color;
        border-color: $primary-hover-color;

        .button-label {
            color: $color-black;
        }
    }

    &:focus {
        background-color: $primary-hover-color;
        border-color: $primary-hover-color;
        outline: 1px solid transparent;

        .button-label {
            color: $color-black;
        }
    }

    &:active {
        background-color: $secondary-color;
        border-color: $secondary-color;

        .icon {
            color: $color-white;
        }

        .button-label {
            color: $color-white;
        }
    }

    &:disabled {
        background-color: $primary-hover-color;
        border-color: $primary-hover-color;
        cursor: default;
        
        .icon {
            color: $font-disabled-color;
        }

        .button-label {
            color: $font-disabled-color;
        }

        &:hover, &:focus {
            outline: 0;
        }
    }
}

.button-label {
    color: $font-primary-color;
    font-size: $font-size-m;
}

.link {
    background-color: transparent;
    border: 0;
    height: auto;
    text-decoration: none;
    font-style: italic;

    .icon {
        color: $secondary-color;
        display: inline-block;
        line-height: 1;
        font-size: $font-size-l;
    }

    .button-label {
        color: $secondary-color;
    }

    &:hover, &:focus {
        color: $secondary-hover-color;
        background-color: transparent;
        text-decoration: underline;

        .icon {
            color: $secondary-hover-color
        }

        .button-label {
            color: $secondary-hover-color
        }
    }

    &:active {

        .icon {
            color: $secondary-color;
        }

        .button-label {
            color: $secondary-color;
        }
    }
}

.disabled-link { 
    pointer-events: none;
    cursor: default;

    .icon {
        color: $font-disabled-color;
    }

    .button-label {
        color: $font-disabled-color;
    }
}

.button + .button {
    @include margin-left(6px);
}

//== Modifier: Primary action button
//
.button-primary {
    background-color: $secondary-color;
    border-color: $secondary-color;

    .button-label {
        color: $color-white;
    }

    &:hover {
        background-color: $secondary-hover-color;
        border-color: $secondary-hover-color;

        .button-label {
            color: $color-white;
        }
    }

    &:focus {
        background-color: $secondary-hover-color;
        border-color: $secondary-color;

        .button-label {
            color: $color-white;
        }
    }

    &:active {
        background-color: $secondary-color;
        border-color: $secondary-color;
    }

    &:disabled,
    &.is-disabled {
        background-color: $primary-color;
        border-color: $primary-color;

        .button-label {
            color: $font-disabled-color;
        }
    }
}
