@import '../../index.scss';

$button-height: 32px;

.hide-button {
    display: none !important;
}

// Button
.button {
    height: $button-height;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid;
    cursor: pointer;
    padding: 0 18px;
    display: inline-flex;
    justify-content: center;

    &:focus {
        outline: none;
    }

    &:disabled {
        cursor: default;
    }

    &.button-icon-text {
        padding: 0 15px 0 10px;

        .icon {
            color: $white-color;
            font-size: 16px;
            margin-right: 8px;
            position: relative;
            top: 1px;      
            
            &.svg {                
                fill: $white-color !important;                
            }
        }
    }

    &.button-icon {
        padding: 7px;

        .icon {
            margin-right: 0;
            color: $white-color;
            font-size: 16px;

            &.svg {                
                fill: $white-color !important;
            }
        }
    }

    .button-label {
        color: $white-color;
    }

    &.button-primary {
		background-color: $primary-color;
        border-color: $primary-color;
                
        &:hover,
        &:focus,
		&:active {
			background-color: $primary-hover-color;
			border-color: $primary-hover-color;
        }

        &:disabled {
            background-color: $primary-disabled-color;
            border-color: $primary-disabled-color;
        }

        .spinner {
            .spinner-circle {
                border-top: 1.4em solid $primary-disabled-color;
                border-right: 1.4em solid $primary-disabled-color;
                border-bottom: 1.4em solid $primary-disabled-color;
                border-left: 1.4em solid  $white-color;
            }
        }
    }

    &.button-primary-gray {
        background-color: $secondary-color;
        border-color: $secondary-color;
			
        &:hover,
        &:focus,
		&:active {
			background-color: $secondary-hover-color;
            border-color: $secondary-hover-color;
        }

        &:disabled {
            background-color: $secondary-disabled-color;
            border-color: $secondary-disabled-color;
        }

        .spinner {
            .spinner-circle {
                border-top: 1.4em solid $secondary-disabled-color;
                border-right: 1.4em solid $secondary-disabled-color;
                border-bottom: 1.4em solid $secondary-disabled-color;
                border-left: 1.4em solid  $white-color;
            }
        }
    }

    &.button-secondary {
        background-color: $white-color;
        border: 2px solid $primary-color;
        padding: 0 12px;

        &.button-icon-text {
            .icon {
                color: $primary-color;

                &.svg {
                    fill: $primary-color !important;
                }
            }
        }

        &.button-icon {
            padding: 6px;

            .icon {
                color: $primary-color;

                &.svg {
                    fill: $primary-color !important;
                }
            }
        }
			
        &:hover,
        &:focus,
		&:active {
            border: 2px solid $primary-hover-color;

            .button-label, .icon {
                color: $primary-hover-color;
            }

            >.icon.svg {
                fill: $primary-hover-color !important;
            }
        }

        .button-label {
            color: $primary-color;
        }

        &:disabled {
            border-color: $primary-disabled-color;

            .button-label, .icon {
                color: $primary-disabled-color;
            }

            &.icon.svg {
                fill: $primary-disabled-color !important;
            }
        }
    }

    &.button-secondary-blue {
        background-color: $white-color;
        border: 2px solid $tertiary-color;
        padding: 0 12px;
            
        &.button-icon-text {
            .icon {
                color: $tertiary-color;
                &.svg {
                    fill: $tertiary-color !important;
                }
            }
        }

        &.button-icon {
            padding: 6px;

            .icon {
                color: $tertiary-color;

                &.svg {
                    fill: $tertiary-color !important;
                }
            }
        }

        &:hover,
        &:focus,
		&:active {
            border: 2px solid $tertiary-hover-color;

            .button-label, .icon {
                color: $tertiary-hover-color;
            }

            >.icon.svg {
                fill: $tertiary-hover-color !important;
            }
        }
        
        .button-label {
            color: $tertiary-color;
        }

        &:disabled {
            border-color: $tertiary-disabled-color;

            .button-label, .icon {
                color: $tertiary-disabled-color;
            }

            >.icon.svg {
                fill: $tertiary-disabled-color !important;
            }
        }

        .spinner {
            .spinner-circle {
                border-top: 1.4em solid $tertiary-disabled-color;
                border-right: 1.4em solid $tertiary-disabled-color;
                border-bottom: 1.4em solid $tertiary-disabled-color;
                border-left: 1.4em solid  $tertiary-color;
            }
        }
    }

    &.button-tertiary {
        background-color: $tertiary-color;
        border-color: $tertiary-color;
			
        &:hover,
        &:focus,
		&:active {
			background-color: $tertiary-hover-color;
            border-color: $tertiary-hover-color;
        }

        &:disabled {
            background-color: $tertiary-disabled-color;
            border-color: $tertiary-disabled-color;
        }

        .spinner {
            .spinner-circle {
                border-top: 1.4em solid $tertiary-disabled-color;
                border-right: 1.4em solid $tertiary-disabled-color;
                border-bottom: 1.4em solid $tertiary-disabled-color;
                border-left: 1.4em solid  $white-color;
            }
        }
    }

    &.button-textual {
		background-color: $white-color;
        border-color: $white-color;
        padding: 0;

        &.button-icon-text {
            .icon {
                color: $primary-color;

                &.svg {
                    fill: $primary-color !important;
                }
            }
        }
			
        &:hover,
        &:focus,
		&:active {
            .button-label, .icon {
                color: $primary-hover-color;
            }

            >.icon.svg {
                fill: $primary-hover-color !important;
            }
        }
        
        .button-label {
            color: $primary-color;
        }

        &:disabled {
            .button-label, .icon {
                color: $secondary-disabled-color;
            }

            >.icon.svg {
                fill: $primary-disabled-color !important;
            }
        }
    }

    &.button-error {
        background-color: $error-color;
        border-color: $error-color;

        &:hover,
        &:focus,
		&:active {
			background-color: $error-hover-color;
            border-color: $error-hover-color;
        }

        &:disabled {
            background-color: $error-disabled-color;
            border-color: $error-disabled-color;
        }

        .icon {
            margin-right: 0;
            fill: $white-color;
            color: $white-color;
        }

        &:hover,
        &:focus,
        &:active {
            .icon {
                fill: $white-color;
                color: $white-color;
            }
        }
    }

    &.button-succes {
        background-color: $success-color;
        border-color: $success-color;

        &:hover,
        &:focus,
		&:active {
			background-color: $success-hover-color;
            border-color: $success-hover-color;
        }

        &:disabled {
            background-color: $success-disabled-color;
            border-color: $success-disabled-color;
        }

        .icon {
            margin-right: 0;
            fill: $white-color;
            color: $white-color;
        }

        &:hover,
        &:focus,
        &:active {
            .icon {
                fill: $white-color;
                color: $white-color;
            }
        }
    }

    &.button-loading {
        pointer-events: none;
    }
}

.button + .button {
   margin-left: 15px;
}


// Link
.link {
    color: $link-color;

    .button-label {
        color: $link-color;

        &:hover,
        &:focus,
        &:active {
            color: $link-hover-color;
        }
    }

    &:hover,
    &:focus,
    &:active {
        color: $link-hover-color;
    }

    .icon {
        color: $link-color;

        &.svg {
            fill: $link-color !important;
        }

        &:hover,
        &:focus,
        &:active {
            color: $link-hover-color;

            &.svg {
                fill: $link-hover-color !important;
            }
        }
    }

    &.disabled-link {
        color: $secondary-disabled-color;
        pointer-events: none;

        .button-label {
            color: $secondary-disabled-color;
            cursor: default;
        }

        .icon {
            color: $secondary-disabled-color;

            &.svg {
                fill: $secondary-disabled-color !important;
            }
        }
    }
}
