@import '../../styles/variables.scss';

$contextualMenu-itemHeight: 28px;

.contextualMenu-container {
    .contextualMenu {
        min-width: 180px;
        max-width: 250px;
        box-sizing: border-box;
    
        .contextualMenu-list {
            margin: 4px 0;
            padding: 0;
            line-height: 0;

            .contextualMenu-item {
                height: $contextualMenu-itemHeight;
                position: relative;
                box-sizing: border-box;

                .contextualMenu-link {
                    outline: none;
                    position: relative;
                    background: none;
                    border: none;
                    width: 100%;
                    height: $contextualMenu-itemHeight;
                    line-height: $contextualMenu-itemHeight;
                    cursor: pointer;
                    padding: 0px 6px;
                    text-align: left;
                    text-decoration: none;
                
                    &:hover:not([disabled]) {
                        background: $primary-background-hover-color;
                    }
                
                    &.is-disabled,
                    &[disabled] {
                        
                        .contextualMenu-linkContent {
                            span, .contextualMenu-submenu-chevron {
                                color: $secondary-disabled-color;
                                cursor: default;
                                pointer-events: none;
                            }
                        }
                
                        .contextualMenu-icon {
                            color: $secondary-disabled-color;
                        }
                    }
                
                    &.is-expanded,
                    &.is-expanded:hover {
                        .contextualMenu-submenu-chevron {
                            color: $primary-color;
                        }
                    }

                    .contextualMenu-linkContent {
                        white-space: nowrap;
                        display: flex;
                        align-items: center;

                        .contextualMenu-itemText {
                            margin: 0 4px;
                            vertical-align: middle;
                            display: inline-block;
                            flex-grow: 1;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }

                    .contextualMenu-icon {
                        margin: 0 4px;
                        vertical-align: middle;
                        flex-shrink: 0;
                        width: 14px;
                    }

                    .contextualMenu-linkText {
                        margin: 0 4px;
                        vertical-align: middle;
                        flex-grow: 1;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: calc(100% - 20px);                       
                    }

                    .contextualMenu-submenu-chevron {
                        height: $contextualMenu-itemHeight;
                        line-height: $contextualMenu-itemHeight;
                        text-align: center;
                        font-size: 12px;
                        display: inline-block;
                        vertical-align: middle;
                        flex-shrink: 0;
                    }

                    &.contextualMenu-anchor-link {
                        &:hover {
                            background-color: $white-color;

                            .contextualMenu-linkText {
                                color: $primary-color;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .contextualMenu-divider {
                display: block;
                height: 1px;
                background-color: $secondary-color-20;
                position: relative;
                margin: 4px 0;
            }
        }
    } 
}

.contextualMenu-Callout {
    &.is-expanded {
        border-color: $secondary-color-20;
    }
}
