@import '../../index.scss';

.statusBar {
    background-color: $secondary-color;                       
    height: 23px;
    z-index: 100;
    width: 100%;

    span {
        @include float(right);
        font-family: $font-family-base;      
        color: $white-color;
        font-size: small;
        @include padding(2px, 10px, 0, 0);
    }
    .spinner {
        position: relative;
        top: 1px;
    }
    .spinner > .spinner-circle.spinner-normal {
        position: absolute;
        width: 10px;
        font-size: 3px;
        height: 10px;
    }
}
