@import '../../index.scss';

.statusBar {
    background-color: $primary-color;                       
    height: 23px;
    width: 100%;

    span {
        float: right;
        color: $white-color;
        font-size: 13px;
        padding: 2px 10px 0 0;
    }

    .spinner {
        position: relative;
        top: 1px;
    }

    .spinner > .spinner-circle.spinner-normal {
        position: absolute;
        width: 10px;
        font-size: 3px;
        height: 10px;
    }
}
