@import '../../styles/variables.scss';

$mainNavigation-height: 40px;

.main-nav-container {
    background-color: $primary-color;
    height: $mainNavigation-height;
    width: 100%;

    .logo-container {
        float: left;

        .logo {
            color: $white-color;
            font-size: 20px;
            padding: 6px 12px;
        }
    }
}



