@import '../../index.scss';

.tip-container {
    pointer-events: none;

    polygon, rect {
        fill: $secondary-color-20;
        pointer-events: inherit;
        opacity: 0.8;
    }

    .tip-text {
        font-size: 12px;
        fill: $secondary-color;
    }
}
