.wizard__container{
    height: calc(100% - 71px);
    display: block;
    overflow: auto;
    background-color: #EBEBEB;
    animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0.1}
  to   { opacity: 1}
}

.wizard__step-window {
  width: 940px;
  margin: 40px auto 0px auto;
  background-color: #FFF;
}

.wizard__footer-navigation {
  width: 100%;
  height: 62px;
  background-color: white;
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
  margin-bottom: 40px;
}

.wizard__title {
  text-align: center;
  font-size: 34px;
  font-weight: normal;
  color: #2E2E30;
}

.wizard__right-navigation-btn-page-container {
    display: flex;
    .button {
        margin-left: 15px;
        
        .button-label {
            color: white!important;
        }
  }
}