@import '../../index.scss';

@keyframes fadeIn {
  from { opacity: 0.1 }
  to   { opacity: 1 }
}

.wizard-container {
  height: calc(100% - 40px);
  display: inline-flex;
  overflow: auto;
  animation: fadeIn 1s;
  padding-top: 40px;
  flex-flow: row wrap;
  width: 100%;

  .wizard-step-window {
    height: calc(100% - 62px);
    flex: 1;
  }

  .wizard-content {
    width: 360px;
    display: flex;
    flex-direction: column;
    padding-left: 9px; 

    .wizard-title-container {
      display: flex;
      margin-bottom: 20px;
    
      .wizard-back-icon-container {
        height: 32px;
        width: 32px;   
        display: flex;
        align-items: center;
        justify-content: center;

        .wizard-back-icon:hover {
          cursor:pointer;
        }
      }

      .wizard-title {
        text-align: left;
        font-size: 24px;
        font-family: "Segoe UI";
        padding-left: 0;
    }
  }

    .wizard-stepper {
      display: flex;
      width: calc(100% - 50px);
      margin: 0px auto;
      padding-left: 32px;

      .wizard-checkmark {
        margin-right: 0;
        color: $white-color;
        font-size: 10px;
        vertical-align: top;
        top: 5px;
        position: relative;
      }
    }
  }

  .wizard-footer-navigation {
    width: 100%;
    height: 62px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-self: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
  }
}
