@import '../../index.scss';

.navigation-group-container {
    margin: 5px 30px 10px 0;
    padding: 10px;
    user-select: none;
    display: inline-block;
    vertical-align: top;
    overflow-y: auto;

    .navigation-group-header {
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        cursor: default;
        border-bottom: 1px solid $primary-color;
    }

    .navigation-group-list {
        padding: 0;
        margin-top: 10px;

        .navigation-group-item {
            height: 20px;
            &:not(:last-child) {
                margin-bottom: 2px;
            }

            .navigation-group-item-text {
                height: 100%;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $primary-color;
                cursor: pointer;
            }

            &.is-disabled {
                .navigation-group-item-text {
                    cursor: default;
                    color: $secondary-disabled-color!important;
                }
            }
        }
    }
}
