@import '../../index.scss';

.compact-dashboard-container{
    @include baseFont();
    width: 100%;
    height: 100%;
    background-color: $background-color;
    border-color: $background-color;
    overflow: hidden; // hidden scroll
    color: $basic-text-color;  
}

.compact-dashboard-container.vertical{
    width: 100%;
    color: $basic-text-color;
    .farm{
        max-width: 350px;
        display: block;
        margin: auto;
        margin-top: 6px;
        margin-left: 15px; 
        top: 50px;
        margin-bottom: 6px;
        padding-bottom: 25px;
        .compact-server-container{
                max-width: 245px;
        }
    }
}
