 @import '../../index.scss';

$compact-dashboard-background: #f4f4f4;

.compact-dashboard-container{
    @include baseFont();
    width: 100%;
    height: 100%;
    background-color: $compact-dashboard-background;
    border-color: $compact-dashboard-background;
    overflow-y: auto;
    
    .compact-dashboard-server{
            order:1;
    }
    .compact-server-container{
            font-size: 14px;
            max-width: 150px;
            display: inline-block;
    }
        
}
.compact-dashboard-container.vertical{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    .farm{
        max-width: 250px;
        display: block;
        margin: auto;
        margin-top: 6px;
        margin-left: 15px;
        margin-bottom: 6px;
        .compact-server-container{
                max-width: 200px;
        }
    }
}