 @import '../../index.scss';

$compact-dashboard-background: #f4f4f4;

.compact-dashboard-container{
    @include baseFont();
    width: 100%;
    height: 100%;
    background-color: $compact-dashboard-background;
    border-color: $compact-dashboard-background;
    overflow-y: auto;
    
    .compact-dashboard-server{
            order:1;
    }
    .compact-server-container{
            font-size: 14px;
            max-width: 215px;
            display: inline-block;
    }
        
}
.compact-dashboard-container.vertical{
    width: 100%;
    .farm{
        max-width: 350px;
        display: block;
        margin: auto;
        margin-top: 6px;
        margin-left: 15px; 
        top: 50px;

        margin-bottom: 6px;
        .compact-server-container{
                max-width: 215px;
        }
    }
}

.viewport-height{
    height: 90vh;
    width:100%;
    margin-bottom:100px;
}

.compact-dashboard-header{
    background: #666666;
}