@import '../../index.scss';
.tree-filter-callout {
    .ReactVirtualized__Grid {
        outline: none;
    }
    ul {
        margin: 0;
        list-style: none;
        padding-left: 20px;
    }
    .item {
        height: 20px;
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        white-space: pre;
        user-select: none;
    }
    .item-container {
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
    }
    .expandible-item {
        width: calc(100% - 22px);
    }
    .item-container:hover {
        background-color: $font-info-colorBackground
    }
    .tree-expand-icon {
        vertical-align: middle;
        padding-bottom: 6px;
    }
    .tree-filter-input {
        width: calc(100% - 5px);
    }
    .tree-single-select-item {
        display: inline-block;
        color: $font-primary-color;
        font-family: $font-family-base;
        font-size: $font-size-m;
    }
    .tree-filter-footer {
        .tree-filter-footer-count {
            padding-top: 3px;
            font-size: $font-size-s;
            padding-left: 5px;
        }
    }
    .filter-search {
        height: 30px;
        line-height: 30px;
        margin: 0;
        width: 100%;
        .search-icon {
            line-height: 30px;
        }
        .search-field {
            height: 30px;
            line-height: 30px;
        }
        .search-clearButton {
            line-height: 28px;
            font-size: 14px;
        }
    }
}

.tree-filter-container {
    height: 50px;
    width: 200px;
    color: $font-primary-color;
    font-family: $font-family-base;
    .tree-filter-title {
        width: 200px;
        height: 20px;
        padding: 2px 1px 2px 1px;
        border-bottom: 1px solid $secondary-color;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .dropdown-icon {
            float: right;
            padding-top: 6px;
            padding-right: 1px;
            font-size: 11px;
        }
    }
    .item-selected {
        color: $secondary-color;
    }
    .reset-filter-icon {
        font-size: 11px;
        float: right;
        margin-top: 6px;
    }
}