@import '../../index.scss';

.tree-filter-container {
    position: relative;

    .tree-filter-title {
        width: 200px;
        height: 20px;
        padding: 2px 1px 2px 1px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .item-selected {
        color: $secondary-color;
    }

    .tree-filter-footer-count {
        font-size: $font-size-s;
        padding: 0;
        padding-left: 5px;
        position: absolute;
        bottom: 5px;
    }

    .filter-search {
        height: 30px;
        line-height: 30px;
        margin: 0;
        width: 100%;
        .search-icon {
            line-height: 30px;
        }
        .search-field {
            height: 30px;
            line-height: 30px;
        }
        .search-clearButton {
            line-height: 28px;
            font-size: 14px;
        }
    }

    .ReactVirtualized__Grid {
        outline: none;
    }

    ul {
        margin: 0;
        list-style: none;
        padding-left: 20px;
    }

    .item {
        height: 20px;
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        white-space: pre;
        user-select: none;
    }

    .item-container {
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
    }

    .expandible-item {
        width: calc(100% - 22px);
    }

    .tree-expand-icon {
        vertical-align: middle;
        padding-bottom: 6px;
    }

    .tree-filter-input {
        width: calc(100% - 5px);
    }

    .tree-single-select-item {
        display: inline-block;
        color: $font-primary-color;
        font-family: $font-family-base;
        font-size: $font-size-m;
    }

    .reset-filter-icon {
        font-size: 11px;
        float: right;
        margin-top: 6px;
        cursor: pointer;
    }
}