@import '../../index.scss';

.tree-filter-callout {
    margin-top: 4px;

    .virtualized-tree-filter-container {
        padding: 6px;
        box-sizing: border-box;
        z-index: 1000;

        .virtualized-tree-filter-title {
            height: 20px;
            padding: 2px 5px;
            width: calc(100% - 25px);
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .item-container {
            white-space: nowrap;
            cursor: pointer;
            user-select: none;

            &.expandible-item {
                width: calc(100% - 20px);
            }

            .virtualized-tree-expand-icon {
                padding-bottom: 4px;
                margin-right: 6px;
                font-size: 12px;
            }
        }

        .item-container.loading-container {
            display: flex;
            align-items: center;
            margin-left: 18px;
            .spinner.tree-view-async-loading-spinner{
                > .spinner-circle {
                    margin: 0;
                }
            }

            .tree-view-async-loading-label {
                margin-left: 6px;
            }
        }

        .virtualized-tree-filter-footer-count {
            font-size: 12px;
            padding-left: 5px;
            position: absolute;
            bottom: 5px;

            &.virtualized-tree-filter-footer-with-button {
                bottom: 15px;
            }
        }

        .tree-filter-actions {
            margin-top: 10px;
            margin-bottom: 6px;
            position: absolute;
            bottom: 0;
            right: 10px;
        
            .tree-filter-actionsRight {
                .tree-filter-action + .tree-filter-action {
                    margin-left: 15px;
                }
            }
        }

        ul {
            margin: 0;
            list-style: none;
            padding-left: 20px;
        }

        .ReactVirtualized__List {
            padding-left: 3px;
        }

        &.is-single-select {
            .item-container {
                .virtualized-tree-expand-icon {
                    position: relative;
                    top: -3px;
                    margin-right: 2px;
                }

                .virtualized-tree-single-select-item {
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 95%;
                    position: relative;
                }
            }

            ul {
                padding-left: 12px;
            }
        }

        &.is-flat-list {
            .ReactVirtualized__List {
                padding-left: 10px;
            }
        }
    }
}
