@import '../../index.scss';

.tree-filter-callout {
    margin-top: 4px;

    .virtualized-tree-filter-container {
        padding: 6px;
        box-sizing: border-box;

        .virtualized-tree-filter-title {
            height: 20px;
            padding: 2px 5px;
            width: calc(100% - 25px);
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .virtualized-tree-filter-select-all-search {
            display: inline-flex;
            width: 100%;

            .select-all-checkbox {
                width: 22px;
                display: inline-flex;
                align-items: center;
                height: 32px;

                .virtualized-tree-filter-checkbox-checkmark {
                    margin-top: -1px;
                }
            }

            .filter-search {
                width: 100%;
            }
        }

        .item-container {
            white-space: nowrap;
            cursor: pointer;
            user-select: none;

            &.expandible-item {
                width: calc(100% - 20px);
            }

            .virtualized-tree-expand-icon {
                padding-bottom: 4px;
                margin-right: 6px;
                font-size: 12px;
            }

            .virtualized-tree-single-select-item {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 95%;
                position: relative;
                top: 4px;
            }
        }

        .virtualized-tree-filter-footer-count {
            font-size: 12px;
            padding-left: 5px;
            position: absolute;
            bottom: 5px;
        }

        ul {
            margin: 0;
            list-style: none;
            padding-left: 20px;
        }

        .ReactVirtualized__List {
            padding-left: 3px;
        }
    }
}
