@import '../../index.scss';

.messageBar {
    background-color: $white-color;
    border: 1px solid $secondary-color-20;
    border-left: 0;
    border-radius: 0 8px 8px 0;
    color: $white-color;
    box-sizing: border-box;
    position: absolute;
    user-select: none;
    height: 32px;
    width: 60%;
    margin: 0 20%;
    bottom: 10px;
    z-index: 10;

    .messageBar-content {
        padding-right: 10px;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .messageBar-icon {
        display: flex;
        align-items: center;
        margin-left: -16px;

        &::before {
            content: '';
            width: 32px;
            height: 32px;
            box-sizing: border-box;
            border-radius: 50%;
        }

        .icon {
            color: $white-color;
            position: absolute;
            font-size: 16px;
            margin-right: 0;
            left: -8px;
        }
    }

    .messageBar-actionables {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-right: 20px;
        min-width: 0;

        .messageBar-text {
            min-width: 0;
            display: flex;
            margin-left: 15px;

            .messageBar-innerText {
                overflow-x: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: default;
            }
        }

        .messageBar-actionsOneline {
            position: absolute;
            right: 40px;
            top: -1px; 
        }

        .messageBar-checkBox-container {
            flex: 1;
            min-width: 250px;

            .messageBar-checkbox {
                position: absolute;
                right: 45px;
                top: -1px;

                .checkbox-label {
                    margin-top: 8px;
                }
            }
        }

        .messageBar-dismissal {
            right: 5px;
            position: absolute;
            top: 8px;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }
        }
    }

    &.messageBar-warning {
        .messageBar-icon {
            &:before {
                background-color: $warning-text-color;
            }
        }
    }

    &.messageBar-error {
        .messageBar-icon {
            &:before {
                background-color: $error-text-color;
            }
        }
    }

    &.messageBar-success {
        .messageBar-icon {
            &:before {
                background-color: $success-text-color;
            }
        }
    }

    &.messageBar-info {
        .messageBar-icon {
            &:before {
                background-color: $info-text-color;
            }
        }
    }
}

.messageBar + .messageBar {
    margin-top: 10px;
}
