@import '../../index.scss';

.messageBar {
    background-color: $secondary-color;
    color: $white-color;
    box-sizing: border-box;
    position: relative;
    height: 40px;

    .messageBar-content {
        padding: 10px;
        display: flex;
    }

    .messageBar-icon {
        padding-right: 5px;

        .icon {
            font-size: 20px;
        }
    }

    .messageBar-actionables {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-right: 20px;

        .messageBar-text {
            .messageBar-innerText {
                overflow-x: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .messageBar-actionsOneline {
            position: absolute;
            right: 40px;
            top: 3px; 
        }

        .messageBar-checkBox-container {
            flex: 1;
            min-width: 250px;

            .messageBar-checkbox {
                position: absolute;
                right: 40px;
                top: 3px;

                .checkbox-label {
                    margin-top: 8px;
                }
            }
        }

        .messageBar-dismissal {
            right: 5px;
            position: absolute;
            top: 12px;
            cursor: pointer;
        }
    }

    &.messageBar-warning {
        background-color: $warning-background-color;

        .messageBar-icon > i,
        .messageBar-innerText,
        .checkbox-label > .label,
        .messageBar-dismissal {
            color: $warning-text-color;
        }

        .checkbox {
            .checkbox-label::before {
                border: 2px solid $warning-text-color;
            }
    
            &.checked {
                .checkbox-label::before {
                    border-color: $warning-text-color;
                    background-color: transparent;
                }

                .checkboxCheckmark {
                    color: $warning-text-color;
                }
            }
        }
    }

    &.messageBar-error {
        background-color: $error-background-color;

        .messageBar-icon > i,
        .messageBar-innerText,
        .checkbox-label > .label,
        .messageBar-dismissal {
            color: $error-text-color;
        }

        .checkbox {
            .checkbox-label::before {
                border: 2px solid $error-text-color;
            }

            &.checked {
                .checkbox-label::before {
                    border-color: $error-text-color;
                    background-color: transparent;
                }

                .checkboxCheckmark {
                    color: $error-text-color;
                }
            }
        }
    }

    &.messageBar-success {
        background-color: $success-background-color;

        .messageBar-icon > i,
        .messageBar-innerText,
        .checkbox-label > .label,
        .messageBar-dismissal {
            color: $success-text-color;
        }

        .checkbox {
            .checkbox-label::before {
                border: 2px solid $success-text-color;
            }

            &.checked {
                .checkbox-label::before {
                    border-color: $success-text-color;
                    background-color: transparent;
                }

                .checkboxCheckmark {
                    color: $success-text-color;
                }
            }
        }
    }

    &.messageBar-info {
        background-color: $info-background-color;

        .messageBar-icon > i,
        .messageBar-innerText,
        .checkbox-label > .label,
        .messageBar-dismissal {
            color: $info-text-color;
        }

        .checkbox {
            .checkbox-label::before {
                border: 2px solid $info-text-color;
            }
    
            &.checked {
                .checkbox-label::before {
                    border-color: $info-text-color;
                    background-color: transparent;
                }

                .checkboxCheckmark {
                    color: $info-text-color;
                }
            }
        }
    }
}

.messageBar + .messageBar {
    margin-top: 10px;
}
