@import '../../index.scss';

.compact-server-container {
    margin: 8px;
    border-left: 10px solid;
    float: left;
    box-sizing: border-box;
    width: 236px;
    height: 64px;
    padding: 5px;
    border-top: 1px solid $secondary-color-20;
    border-right: 1px solid $secondary-color-20;
    border-bottom: 1px solid $secondary-color-20;

    &:hover {
        .icon-delete {
            visibility: visible;
        }
    }

     .server-title {
        float: left;
        margin-left: 5px;
        width: 100%;
        padding: 2px 0 6px 0;
        display: inline-flex;
    
        span {
            width: calc(100% - 25px);
            white-space: nowrap;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

     .icon-delete {
         padding: 2px 10px;
         margin: 0;
         visibility: hidden;

         &:hover {
             color: $error-color;
             cursor: pointer;
         }
     }

    &.status-ok {
        border-left-color: $ok-status-server;
    }
    
    &.status-warning {
        border-left-color: $warning-status-server;
    }
    
    &.status-critical {
        border-left-color: $error-status-server;
    }
    
    &.status-offline {
        border-left-color: $secondary-color-20;
    }
}
