@import '../../index.scss';

.compact-server-container{
     @include baseFont();
     position: relative;
     margin:8px;
     border-left: 10px solid;
     float: left;
     width: 95%;
     padding: 5px;
     background: rgb(232, 233, 239);
     color:  #6b6b6b;

     hr{
        width: 100%;
        margin: 0 auto;
        line-height: 0.1em;
        margin-top: 5px;
        margin-bottom: 4px;
        border-style: solid;
        color:#f9f9fb;
        border: none;
        height: 1px;
    
        background-color: #f9f9fb;
     }
     .server-title{
            position: relative;
            float: left;
            margin: 5px;
            width: calc(100% - 10px);
            display: block;
            font-weight: 600;
        
            :first-child{
                width: calc(100% - 30px);
                white-space: nowrap;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
            }
            .server-close{
                font-size: 27px;
                position: absolute;
                right: 10px;
                top: -10px;
                color: red;
                display: none;
                font-weight: 900;
                cursor: pointer;
     }
      
     }
    
     .server-title:hover .server-close, .server-close:hover{
         display: block;
     }

     .tag-container{
         position: relative;
         float: left;
         width: 100%;
         margin: 5px 0;
         background: rgb(232, 233, 239);
         .tag{
            background: #e8e9ef;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
            margin: 0;
            font-size:12px;
            font-weight: normal;
            margin-left: 4px;
         }
         .edit-tags:hover{
            background: inherit;
            color:#7DC458;
            .icon{
                background: inherit;
                color:#7DC458;
            }
         }
     }
     .icon {
         color: #676666;
     }
}

.status-ok{
    border-left-color: #7DC458;
}

.status-warning{
    border-left-color: #EAC71A;
}

.status-critical{
    border-left-color: #fb6464;
}

.offline{
    border-left-color: #C2C7CE;
}