@import '../../styles/variables.scss';

.label {
    box-sizing: border-box;
    display: block;
    padding: 5px 0;

    &.label-required {
         &::after {
            content: ' *';
            color: $error-color;
        }
    }

    &.label-disabled {
         color: $secondary-disabled-color;
    }
}
