 @import '../../index.scss';

.dashboard-header-container{
    @include baseFont();
    width: calc(100% - 32px);
    color: #828282;
    padding: 15px;
    border: 1px solid #eee;
    overflow: hidden;
    display: block;
   
    .dashboard-header-title{
        width: 30%;
        display: inline-block;
        font-weight: 400;
        font-size: 25px;
    }
    .search {
        width:30%;
        display: inline-block;
        position: relative;
        right: 0;
        float: right;
        border-radius: 5px;
    }
    div:nth-child(4){
        display: inline-block;
        position: relative;
        vertical-align: middle;
        float:right;
        margin-right: 10px;
        margin-left: 10px;
    }
    
}