 @import '../../index.scss';

.dashboard-header-container{
    @include baseFont();
    display: flex;
    width: calc(100% - 32px);
    color: #828282;
    padding: 15px;
    border: 1px solid #eee;
   
    .dashboard-header-title{
        width: 55%;
        display: inline-block;
        font-weight: 400;
        font-size: 25px;
    }
    .search {
        width:30%;
        display: inline-block;
        position: relative;
        right: 0;
        border-radius: 5px;
    }
    div:nth-child(4){
        display: inline-block;
        position: relative;
        vertical-align: middle;
        float:right;
    }
    
}