@import '../../index.scss';

.bar-chart-component {
    display: inline-block;
    border: 1px solid lightgrey;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  

    svg { 
        display: block;
        overflow: visible;
    }

    .domain {
        display: none;
    }
    
    .tick {
        line {
            opacity: 0.7;
            stroke: #bfbfbf;
        }
        text {
            font-family: $font-family-base;
            font-size: 12px;
            fill: #9a9a9a;
        }
    }

    .bar {
        fill: #326FAD;
        &.clicked {
            fill: #9CB9D7;
        }
        &:hover {
            fill: #9CB9D7;
        }
    }
}
