@import '../../index.scss';

.bar-chart-component {
    box-sizing: border-box;  

    .domain {
        display: none;
    }
    
    .tick {
        line {
            stroke: $secondary-color-20;
        }

        text {
            font-size: 12px;
            fill: $secondary-color;
        }
    }

    .bar {
        fill: $link-color;
        cursor: pointer;

        &.clicked {
            fill: $bar-char-fill-color;
        }

        &:hover {
            fill: $bar-char-fill-color;
        }
    }
}
