@import '../../index.scss';

.bar-chart-component {
    display: inline-block;
    border: 1px solid lightgrey;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  

    svg { display: block; }

    .domain {
        display: none;
    }

    .tick {
        line {
            opacity: 0.7;
            stroke: #bfbfbf;
        }
        text {
            font-family: $font-family-base;
            font-size: 12px;
            fill: #9a9a9a;
        }
    }

    .bar {
        fill: #ff9900;

        &.clicked {
            fill: #00ff99;
        }
    }

    .bar:hover {
        fill: #00ff99;
    }

    .tip-container {
        polygon, rect {
            fill: #f6f6f6;
        }

        .tip-text {
            font-family: $font-family-base;
            font-size: 12px;
            fill: #898989;
            font-weight: 400;
        }
    }
}
