@import '../../index.scss';

.treeview {
    @include baseFont();
    font-size: $font-size-m;
    margin-left: 19px;
    .collapsed {
        display: none;
    }

    .expanded {
        display: block;
        margin-left: 30px;
    }

    .treeview-item {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .treeveiw-content{
        padding: 2px;
    }
    .treeveiw-content:hover{
        background-color: #eaeaea;
    }
    .treeveiw-parent-item{
        margin-left: -19px;
    }
    .partial-selected{
        label:before{
            content: '\025FC';
            color: #b9cb34;
            font-size: 20px;
        }
    }
}