.icon-sql_log:before {
  content: "\e93b";
}
.icon-viewType:before {
  content: "\e93a";
}
.icon-alert:before {
  content: "\e938";
}
.icon-alert1:before {
  content: "\e939";
}
.icon-add_to_group:before {
  content: "\e92e";
}
.icon-move_to_group:before {
  content: "\e92f";
}
.icon-copy_to_group:before {
  content: "\e930";
}
.icon-remove_user:before {
  content: "\e931";
}
.icon-transfer_user:before {
  content: "\e932";
}
.icon-clone_user:before {
  content: "\e933";
}
.icon-remove_users_from_group:before {
  content: "\e934";
}
.icon-edit_user:before {
  content: "\e935";
}
.icon-create_group:before {
  content: "\e936";
}
.icon-grant_permissions:before {
  content: "\e937";
}
.icon-break:before {
  content: "\e907";
}
.icon-restore:before {
  content: "\e92b";
}
.icon-delete_group:before {
  content: "\e92c";
}
.icon-delete_user:before {
  content: "\e92d";
}
.icon-event_viewer:before {
  content: "\e92a";
}
.icon-filter2:before {
  content: "\e929";
}
.icon-not_equal:before {
  content: "\e928";
}
.icon-onedrive:before {
  content: "\e926";
}
.icon-permissions_explorer:before {
  content: "\e927";
}
.icon-account:before {
  content: "\e600";
}
.icon-add:before {
  content: "\e601";
}
.icon-all_users:before {
  content: "\e908";
}
.icon-arrow_down:before {
  content: "\e602";
}
.icon-arrow_down_right:before {
  content: "\e603";
}
.icon-arrow_L:before {
  content: "\e604";
}
.icon-arrow_R:before {
  content: "\e605";
}
.icon-arrow_right:before {
  content: "\e606";
}
.icon-Arrow_up:before {
  content: "\e657";
}
.icon-arrow-down:before {
  content: "\e607";
}
.icon-arrow-left:before {
  content: "\e608";
}
.icon-arrow-right:before {
  content: "\e609";
}
.icon-arrows:before {
  content: "\e60a";
}
.icon-arrow-up:before {
  content: "\e60b";
}
.icon-barChart:before {
  content: "\e60c";
}
.icon-barChart2:before {
  content: "\e60d";
}
.icon-buy:before {
  content: "\e60e";
}
.icon-buy2:before {
  content: "\e914";
}
.icon-camera:before {
  content: "\e60f";
}
.icon-checkbox:before {
  content: "\e610";
}
.icon-checkmark:before {
  content: "\e611";
}
.icon-ck_kit:before {
  content: "\e91a";
}
.icon-ClodKit365:before {
  content: "\e612";
}
.icon-cloud:before {
  content: "\e923";
}
.icon-collapseAll:before {
  content: "\e658";
}
.icon-Column_chooser:before {
  content: "\e915";
}
.icon-compare:before {
  content: "\e613";
}
.icon-curentjobs:before {
  content: "\e909";
}
.icon-custom_pack:before {
  content: "\e918";
}
.icon-dashboard1:before {
  content: "\e614";
}
.icon-dashboard2:before {
  content: "\e615";
}
.icon-delete:before {
  content: "\e616";
}
.icon-details:before {
  content: "\e617";
}
.icon-disabledUser:before {
  content: "\e921";
}
.icon-document:before {
  content: "\e618";
}
.icon-docx:before {
  content: "\e619";
}
.icon-edit:before {
  content: "\e61a";
}
.icon-edit_email:before {
  content: "\e90a";
}
.icon-edit_phone:before {
  content: "\e90b";
}
.icon-equal:before {
  content: "\e61b";
}
.icon-error:before {
  content: "\e61c";
}
.icon-excel:before {
  content: "\e61d";
}
.icon-Exchange:before {
  content: "\e61e";
}
.icon-expand_collapse:before {
  content: "\e65a";
}
.icon-expandAll:before {
  content: "\e659";
}
.icon-export:before {
  content: "\e61f";
}
.icon-feedback:before {
  content: "\e620";
}
.icon-filter:before {
  content: "\e621";
}
.icon-flag:before {
  content: "\e903";
}
.icon-folder:before {
  content: "\e622";
}
.icon-full_size:before {
  content: "\e91d";
}
.icon-gen_word:before {
  content: "\e91c";
}
.icon-gen_word1:before {
  content: "\e91e";
}
.icon-generate:before {
  content: "\e802";
}
.icon-ghost:before {
  content: "\e905";
}
.icon-group:before {
  content: "\e623";
}
.icon-help:before {
  content: "\e624";
}
.icon-history:before {
  content: "\e625";
}
.icon-hitory_back:before {
  content: "\e626";
}
.icon-home:before {
  content: "\e627";
}
.icon-in_progress:before {
  content: "\e901";
}
.icon-Info_krug:before {
  content: "\e628";
}
.icon-inProgress:before {
  content: "\e920";
}
.icon-internalLink:before {
  content: "\e922";
}
.icon-item:before {
  content: "\e629";
}
.icon-key:before {
  content: "\e62a";
}
.icon-link:before {
  content: "\e62b";
}
.icon-list:before {
  content: "\e62c";
}
.icon-load:before {
  content: "\e62d";
}
.icon-load_info:before {
  content: "\e90c";
}
.icon-load_job_tasks:before {
  content: "\e90d";
}
.icon-load_witherrors:before {
  content: "\e902";
}
.icon-load_witherrors1:before {
  content: "\e904";
}
.icon-logo:before {
  content: "\e916";
}
.icon-logo_partner:before {
  content: "\e925";
}
.icon-logo_partner2:before {
  content: "\e924";
}
.icon-logOut:before {
  content: "\e62e";
}
.icon-MyAccount:before {
  content: "\e62f";
}
.icon-news:before {
  content: "\e630";
}
.icon-normal_size:before {
  content: "\e91f";
}
.icon-office:before {
  content: "\e631";
}
.icon-office_manage:before {
  content: "\e632";
}
.icon-Office365:before {
  content: "\e633";
}
.icon-open:before {
  content: "\e634";
}
.icon-pdf:before {
  content: "\e635";
}
.icon-pending:before {
  content: "\e906";
}
.icon-permission_date:before {
  content: "\e64c";
}
.icon-permission_level:before {
  content: "\e652";
}
.icon-permission_level2:before {
  content: "\e64d";
}
.icon-phone:before {
  content: "\e636";
}
.icon-power:before {
  content: "\e900";
}
.icon-premium_subs:before {
  content: "\e917";
}
.icon-principal_status:before {
  content: "\e64e";
}
.icon-principal_type:before {
  content: "\e64f";
}
.icon-print:before {
  content: "\e800";
}
.icon-que:before {
  content: "\e90e";
}
.icon-Quote:before {
  content: "\e638";
}
.icon-Quote2:before {
  content: "\e653";
}
.icon-Quote22:before {
  content: "\e656";
}
.icon-recent_jobs:before {
  content: "\e90f";
}
.icon-refresh:before {
  content: "\e639";
}
.icon-reload:before {
  content: "\e63a";
}
.icon-reset:before {
  content: "\e650";
}
.icon-reset_jobs:before {
  content: "\e910";
}
.icon-save:before {
  content: "\e63b";
}
.icon-schedule:before {
  content: "\e63c";
}
.icon-search:before {
  content: "\e63d";
}
.icon-security_group:before {
  content: "\e63e";
}
.icon-settings:before {
  content: "\e63f";
}
.icon-shared_folder:before {
  content: "\e801";
}
.icon-SharePoint:before {
  content: "\e640";
}
.icon-site:before {
  content: "\e641";
}
.icon-site_collection:before {
  content: "\e642";
}
.icon-site2:before {
  content: "\e651";
}
.icon-Snapshot:before {
  content: "\e654";
}
.icon-SP_report:before {
  content: "\e643";
}
.icon-starter-subs:before {
  content: "\e919";
}
.icon-subscription:before {
  content: "\e644";
}
.icon-subsite:before {
  content: "\e645";
}
.icon-summary:before {
  content: "\e911";
}
.icon-superAdmin:before {
  content: "\e646";
}
.icon-switchView:before {
  content: "\e65b";
}
.icon-TakeSnapshot:before {
  content: "\e91b";
}
.icon-trash:before {
  content: "\e647";
}
.icon-user:before {
  content: "\e648";
}
.icon-user_management:before {
  content: "\e913";
}
.icon-Users_quote:before {
  content: "\e655";
}
.icon-usklicnik:before {
  content: "\e649";
}
.icon-verson_update:before {
  content: "\e912";
}
.icon-warning:before {
  content: "\e64a";
}
.icon-world:before {
  content: "\e64b";
}
