.icon-disk:before {
  content: "\e900";
}
.icon-account:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e902";
}
.icon-add_to_group:before {
  content: "\e903";
}
.icon-alert:before {
  content: "\e904";
}
.icon-alert1:before {
  content: "\e905";
}
.icon-all_users:before {
  content: "\e906";
}
.icon-arrow_down:before {
  content: "\e907";
}
.icon-arrow_down_right:before {
  content: "\e908";
}
.icon-arrow_L:before {
  content: "\e909";
}
.icon-arrow_R:before {
  content: "\e90a";
}
.icon-arrow_right:before {
  content: "\e90b";
}
.icon-Arrow_up:before {
  content: "\e90c";
}
.icon-arrow-down:before {
  content: "\e90d";
}
.icon-arrow-left:before {
  content: "\e90e";
}
.icon-arrow-right:before {
  content: "\e90f";
}
.icon-arrows:before {
  content: "\e910";
}
.icon-arrow-up:before {
  content: "\e911";
}
.icon-barChart:before {
  content: "\e912";
}
.icon-barChart2:before {
  content: "\e913";
}
.icon-break:before {
  content: "\e914";
}
.icon-buy:before {
  content: "\e915";
}
.icon-buy2:before {
  content: "\e916";
}
.icon-camera:before {
  content: "\e917";
}
.icon-checkbox:before {
  content: "\e918";
}
.icon-checkmark:before {
  content: "\e919";
}
.icon-ck_kit:before {
  content: "\e91a";
}
.icon-ClodKit365:before {
  content: "\e91b";
}
.icon-clone_user:before {
  content: "\e91c";
}
.icon-cloud:before {
  content: "\e91d";
}
.icon-collapseAll:before {
  content: "\e91e";
}
.icon-Column_chooser:before {
  content: "\e91f";
}
.icon-compare:before {
  content: "\e920";
}
.icon-copy_to_group:before {
  content: "\e921";
}
.icon-create_group:before {
  content: "\e922";
}
.icon-curentjobs:before {
  content: "\e923";
}
.icon-custom_pack:before {
  content: "\e924";
}
.icon-dashboard1:before {
  content: "\e925";
}
.icon-dashboard2:before {
  content: "\e926";
}
.icon-delete:before {
  content: "\e927";
}
.icon-delete_group:before {
  content: "\e928";
}
.icon-delete_user:before {
  content: "\e929";
}
.icon-details:before {
  content: "\e92a";
}
.icon-disabledUser:before {
  content: "\e92b";
}
.icon-document:before {
  content: "\e92c";
}
.icon-docx:before {
  content: "\e92d";
}
.icon-edit:before {
  content: "\e92e";
}
.icon-edit_email:before {
  content: "\e92f";
}
.icon-edit_phone:before {
  content: "\e930";
}
.icon-edit_user:before {
  content: "\e931";
}
.icon-equal:before {
  content: "\e932";
}
.icon-error:before {
  content: "\e933";
}
.icon-event_viewer:before {
  content: "\e934";
}
.icon-excel:before {
  content: "\e935";
}
.icon-Exchange:before {
  content: "\e936";
}
.icon-expand_collapse:before {
  content: "\e937";
}
.icon-expandAll:before {
  content: "\e938";
}
.icon-export:before {
  content: "\e939";
}
.icon-feedback:before {
  content: "\e93a";
}
.icon-filter:before {
  content: "\e93b";
}
.icon-filter2:before {
  content: "\e93c";
}
.icon-flag:before {
  content: "\e93d";
}
.icon-folder:before {
  content: "\e93e";
}
.icon-full_size:before {
  content: "\e93f";
}
.icon-gen_word:before {
  content: "\e940";
}
.icon-gen_word1:before {
  content: "\e941";
}
.icon-generate:before {
  content: "\e942";
}
.icon-ghost:before {
  content: "\e943";
}
.icon-grant_permissions:before {
  content: "\e944";
}
.icon-group:before {
  content: "\e945";
}
.icon-help:before {
  content: "\e946";
}
.icon-history:before {
  content: "\e947";
}
.icon-hitory_back:before {
  content: "\e948";
}
.icon-home:before {
  content: "\e949";
}
.icon-in_progress:before {
  content: "\e94a";
}
.icon-Info_krug:before {
  content: "\e94b";
}
.icon-inProgress:before {
  content: "\e94c";
}
.icon-internalLink:before {
  content: "\e94d";
}
.icon-item:before {
  content: "\e94e";
}
.icon-key:before {
  content: "\e94f";
}
.icon-link:before {
  content: "\e950";
}
.icon-list:before {
  content: "\e951";
}
.icon-load:before {
  content: "\e952";
}
.icon-load_info:before {
  content: "\e953";
}
.icon-load_job_tasks:before {
  content: "\e954";
}
.icon-load_witherrors:before {
  content: "\e955";
}
.icon-load_witherrors1:before {
  content: "\e956";
}
.icon-logo:before {
  content: "\e957";
}
.icon-logo_partner:before {
  content: "\e958";
}
.icon-logo_partner2:before {
  content: "\e959";
}
.icon-logOut:before {
  content: "\e95a";
}
.icon-move_to_group:before {
  content: "\e95b";
}
.icon-MyAccount:before {
  content: "\e95c";
}
.icon-news:before {
  content: "\e95d";
}
.icon-normal_size:before {
  content: "\e95e";
}
.icon-not_equal:before {
  content: "\e95f";
}
.icon-office:before {
  content: "\e960";
}
.icon-office_manage:before {
  content: "\e961";
}
.icon-Office365:before {
  content: "\e962";
}
.icon-onedrive:before {
  content: "\e963";
}
.icon-open:before {
  content: "\e964";
}
.icon-pdf:before {
  content: "\e965";
}
.icon-pending:before {
  content: "\e966";
}
.icon-permission_date:before {
  content: "\e967";
}
.icon-permission_level:before {
  content: "\e968";
}
.icon-permission_level2:before {
  content: "\e969";
}
.icon-permissions_explorer:before {
  content: "\e96a";
}
.icon-phone:before {
  content: "\e96b";
}
.icon-power:before {
  content: "\e96c";
}
.icon-premium_subs:before {
  content: "\e96d";
}
.icon-principal_status:before {
  content: "\e96e";
}
.icon-principal_type:before {
  content: "\e96f";
}
.icon-print:before {
  content: "\e970";
}
.icon-que:before {
  content: "\e971";
}
.icon-Quote:before {
  content: "\e972";
}
.icon-Quote2:before {
  content: "\e973";
}
.icon-Quote22:before {
  content: "\e974";
}
.icon-recent_jobs:before {
  content: "\e975";
}
.icon-refresh:before {
  content: "\e976";
}
.icon-reload:before {
  content: "\e977";
}
.icon-remove_user:before {
  content: "\e978";
}
.icon-remove_users_from_group:before {
  content: "\e979";
}
.icon-reset:before {
  content: "\e97a";
}
.icon-reset_jobs:before {
  content: "\e97b";
}
.icon-restore:before {
  content: "\e97c";
}
.icon-save:before {
  content: "\e97d";
}
.icon-schedule:before {
  content: "\e97e";
}
.icon-search:before {
  content: "\e97f";
}
.icon-security_group:before {
  content: "\e980";
}
.icon-settings:before {
  content: "\e981";
}
.icon-shared_folder:before {
  content: "\e982";
}
.icon-SharePoint:before {
  content: "\e983";
}
.icon-site:before {
  content: "\e984";
}
.icon-site_collection:before {
  content: "\e985";
}
.icon-site2:before {
  content: "\e986";
}
.icon-Snapshot:before {
  content: "\e987";
}
.icon-SP_report:before {
  content: "\e988";
}
.icon-database:before {
  content: "\e989";
}
.icon-starter-subs:before {
  content: "\e98a";
}
.icon-subscription:before {
  content: "\e98b";
}
.icon-subsite:before {
  content: "\e98c";
}
.icon-summary:before {
  content: "\e98d";
}
.icon-superAdmin:before {
  content: "\e98e";
}
.icon-switchView:before {
  content: "\e98f";
}
.icon-TakeSnapshot:before {
  content: "\e990";
}
.icon-transfer_user:before {
  content: "\e991";
}
.icon-trash:before {
  content: "\e992";
}
.icon-user:before {
  content: "\e993";
}
.icon-user_management:before {
  content: "\e994";
}
.icon-Users_quote:before {
  content: "\e995";
}
.icon-usklicnik:before {
  content: "\e996";
}
.icon-verson_update:before {
  content: "\e997";
}
.icon-viewType:before {
  content: "\e998";
}
.icon-warning:before {
  content: "\e999";
}
.icon-world:before {
  content: "\e99a";
}
