@import '../../index.scss';

@font-face {
	font-family: 'cloudkitIcons';
	src:url('/src/fonts/cloudkitIcons.eot');
	src:url('/src/fonts/cloudkitIcons.eot?#iefix') format('embedded-opentype'),
		url('/src/fonts/cloudkitIcons.woff') format('woff'),
		url('/src/fonts/cloudkitIcons.ttf') format('truetype'),
		url('/src/fonts/cloudkitIcons.svg?#cloudkitIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: cloudkitIcons;
    font-style: normal;
    font-weight: 400;
	@include margin-right(5px);
	color: $font-primary-color;
}

@import './Icon.Content.scss'