
.icon-active-license:before {
  content: "\e900";
}
.icon-disabled-license:before {
  content: "\e901";
}
.icon-info_krug2:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e903";
}
.icon-copy-to-clipboard:before {
  content: "\e904";
}
.icon-add_alert:before {
  content: "\e905";
}
.icon-folderClosed:before {
  content: "\e906";
}
.icon-folderOpen:before {
  content: "\e907";
}
.icon-leftArrow:before {
  content: "\e908";
}
.icon-link:before {
  content: "\e909";
}
.icon-resultsViewSearchLayout:before {
  content: "\e90a";
}
.icon-trash:before {
  content: "\e90b";
}
.icon-full_size:before {
  content: "\e90c";
}
.icon-dots_vertical:before {
  content: "\e90d";
}
.icon-minus:before {
  content: "\e90e";
}
.icon-performance:before {
  content: "\e90f";
}
.icon-alert:before {
  content: "\e910";
}
.icon-farmThumbnail:before {
  content: "\e911";
}
.icon-add:before {
  content: "\e912";
}
.icon-always_on:before {
  content: "\e913";
}
.icon-analyze:before {
  content: "\e914";
}
.icon-subsite:before {
  content: "\e915";
}
.icon-arrow_down:before {
  content: "\e916";
}
.icon-arrow_down_right:before {
  content: "\e917";
}
.icon-arrow_right:before {
  content: "\e918";
}
.icon-Arrow_up:before {
  content: "\e919";
}
.icon-arrow-left:before {
  content: "\e91a";
}
.icon-checkmark:before {
  content: "\e91b";
}
.icon-critical:before {
  content: "\e91c";
}
.icon-custom_group:before {
  content: "\e91d";
}
.icon-custom_group1:before {
  content: "\e91e";
}
.icon-dashboard:before {
  content: "\e91f";
}
.icon-dashboard1:before {
  content: "\e920";
}
.icon-database-edit:before {
  content: "\e921";
}
.icon-delete:before {
  content: "\e922";
}
.icon-info:before {
  content: "\e923";
}
.icon-roleApplication:before {
  content: "\e924";
}
.icon-disable:before {
  content: "\e925";
}
.icon-disk:before {
  content: "\e926";
}
.icon-edit:before {
  content: "\e927";
}
.icon-enable:before {
  content: "\e928";
}
.icon-error:before {
  content: "\e929";
}
.icon-expandAll:before {
  content: "\e92a";
}
.icon-export:before {
  content: "\e92b";
}
.icon-file-excel:before {
  content: "\e92c";
}
.icon-filter:before {
  content: "\e92d";
}
.icon-filter1:before {
  content: "\e92e";
}
.icon-filter2:before {
  content: "\e92f";
}
.icon-grid_view:before {
  content: "\e930";
}
.icon-group:before {
  content: "\e931";
}
.icon-group1:before {
  content: "\e932";
}
.icon-healthy:before {
  content: "\e933";
}
.icon-heart:before {
  content: "\e934";
}
.icon-help:before {
  content: "\e935";
}
.icon-home:before {
  content: "\e936";
}
.icon-horizontal_view:before {
  content: "\e937";
}
.icon-hourglass:before {
  content: "\e938";
}
.icon-maximize:before {
  content: "\e939";
}
.icon-minimize:before {
  content: "\e93a";
}
.icon-no:before {
  content: "\e93b";
}
.icon-offline:before {
  content: "\e93c";
}
.icon-refresh:before {
  content: "\e93d";
}
.icon-run:before {
  content: "\e93e";
}
.icon-search:before {
  content: "\e93f";
}
.icon-server:before {
  content: "\e940";
}
.icon-server1:before {
  content: "\e941";
}
.icon-settings:before {
  content: "\e942";
}
.icon-settings-double:before {
  content: "\e943";
}
.icon-sharePoint:before {
  content: "\e944";
}
.icon-sql_log:before {
  content: "\e945";
}
.icon-switchView:before {
  content: "\e946";
}
.icon-syskit:before {
  content: "\e947";
}
.icon-tile_view:before {
  content: "\e948";
}
.icon-wand:before {
  content: "\e949";
}
.icon-warning:before {
  content: "\e94a";
}
.icon-warning2:before {
  content: "\e94b";
}
.icon-iis_log:before {
  content: "\e94c";
}
.icon-feedback:before {
  content: "\e94d";
}
.icon-analitics:before {
  content: "\e94e";
}
.icon-analitics_1:before {
  content: "\e94f";
}
.icon-analitics_2:before {
  content: "\e950";
}
.icon-back:before {
  content: "\e951";
}
.icon-calendar:before {
  content: "\e952";
}
.icon-cube:before {
  content: "\e953";
}
.icon-disk1:before {
  content: "\e954";
}
.icon-document:before {
  content: "\e955";
}
.icon-event_log:before {
  content: "\e956";
}
.icon-InProgress:before {
  content: "\e957";
}
.icon-load:before {
  content: "\e958";
}
.icon-pending:before {
  content: "\e959";
}
.icon-performance_1:before {
  content: "\e95a";
}
.icon-performance_2:before {
  content: "\e95b";
}
.icon-plus:before {
  content: "\e95c";
}
.icon-refiner_all:before {
  content: "\e95d";
}
.icon-refresh1:before {
  content: "\e95e";
}
.icon-refresh2:before {
  content: "\e95f";
}
.icon-resultsViewCompact:before {
  content: "\e960";
}
.icon-smile:before {
  content: "\e961";
}
.icon-uls:before {
  content: "\e962";
}
.icon-user:before {
  content: "\e963";
}
.icon-vertical_view:before {
  content: "\e964";
}
.icon-view_all:before {
  content: "\e965";
}
.icon-windows_log:before {
  content: "\e966";
}
.icon-wrench:before {
  content: "\e967";
}
.icon-roleAppSearch:before {
  content: "\e968";
}
.icon-roleCustom:before {
  content: "\e969";
}
.icon-roleDatabase:before {
  content: "\e96a";
}
.icon-roleDistributedCache:before {
  content: "\e96b";
}
.icon-roleFEDC:before {
  content: "\e96c";
}
.icon-roleFrontEnd:before {
  content: "\e96d";
}
.icon-roleSearch:before {
  content: "\e96e";
}
.icon-viewDetails:before {
  content: "\e96f";
}
.icon-Info_krug:before {
  content: "\e970";
}
.icon-details:before {
  content: "\e971";
}
.icon-roleSingleServer:before {
  content: "\e972";
}
