@import '../../index.scss';

.pivot {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: none;
    white-space: nowrap;
    user-select: none;

    .pivot-link {
        display: inline-block;
        line-height: 30px;
        padding: 0 10px;
        position: relative;
        cursor: pointer;
    
        &:hover {
            .pivot-text, .pivot-icon, .pivot-count {
                color: $primary-color;
            }
        }
    
        &:focus {
            outline: none;
        }
    
        &::before {
            content: '';
            bottom: 0;
            height: 2px;
            left: 8px;
            position: absolute;
            right: 8px;
            transition: background-color 267ms cubic-bezier(.1,.25,.75,.9);
        }

        &::after {
            content: attr(title);
            display: block;
            overflow: hidden;
            visibility: hidden;
        }
    
        .pivot-icon {
            margin-left: 5px;

            &::before {
                position: relative;
                bottom: -3px;
                font-size: 18px;
            }
        }

        .pivot-count {
            margin-left: 5px;
        }
    
        &.is-selected {
            .pivot-text, .pivot-icon, .pivot-count {
                color: $primary-color;
            }

            &::before {
                background-color: $primary-color;
            }
        }

        &.is-disabled {
            cursor: default;
            pointer-events: none;

            .pivot-text, .pivot-icon, .pivot-count {
                color: $secondary-disabled-color;
            }

            &.is-selected {
                &:before {
                    background-color: $primary-disabled-color;
                }
            }
        }
    }
    
    &.pivot-tabs {
        .pivot-link {
            background-color: $primary-color;

            .pivot-text {
                color: $white-color;
            }
    
            &:hover:not(.is-selected),
            &:focus:not(.is-selected) {
                background-color: $primary-hover-color;
            }

            &.is-selected {
                background-color: $primary-hover-color;
                color: $white-color;
    
                &::before {
                    background-color: transparent;
                    transition: none;
                }
            }

            &.is-disabled {
                cursor: default;
                pointer-events: none;
                background-color: $primary-disabled-color;

                .pivot-text, .pivot-icon, .pivot-count {
                    color: $white-color;
                }
            }
        }
    }
}
