@import '../../index.scss';

.pie-chart-component {
    min-width: 115px;
    display: block;
    overflow: visible;
    text-align: center;
    svg {
        position: relative;
        display: inline-block;
        overflow: visible;
        .pie-arc:hover {
            opacity: 0.75;
        }

        .pie-chart-legend {
            display: block;
            text {
                font-family: $font-family-base;
            }
        }
    }
    .pie-chart-legend {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        padding-left: 5px;
        vertical-align: top;
        z-index: -1000;
        .legend-item {
            margin-bottom: 5px;
            display: block;
            div {
                width: 12px;
                height: 12px;
                vertical-align: middle;
                display: inline-block;
                padding: 0;
            }
            label {
                font-family: $font-family-base;
                font-size: 12px;
                margin-left: 5px;
                padding: 0;
            }
        }
    }
}
