@import '../../index.scss';

.pie-chart-component {
    display: inline-block;
    svg {
        overflow: visible;
        display: block;

        .pie-arc:hover {
            opacity: 0.75;
        }
    }
}
