
$basic-text-color: #6b6b6b;
$emphasized-text-color: #4b4949;
$light-text-color: #A09f9f;

$yellow-color:#EAC71A;
$green-color: #7DC458;
$red-color: #fb6464;

$background-color: #e8e9ef;
$server-background-color: #e8e9ef;

$hr-background-color: #f9f9fb;
$search-border-color: #ddd;