 @import '../../index.scss';

$tile-dashboard-background: #f4f4f4;

.tile-dashboard-container{
     @include baseFont();
    width: 100%;
    height: 100%;
    background-color: $tile-dashboard-background;
    border-color: $tile-dashboard-background;
    overflow-y: auto;
}