@import '../../index.scss';

$tile-dashboard-background: $background-color;
$server-status-color: $basic-text-color;
$background-color: $background-color;

.tile-dashboard-container{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    user-select: none;

    .farm {
        margin-top: 60px;
    }

    .group-by-none-farm {
        margin-top: 32px;
    }
}

