@import '../../styles/variables.scss';

.date-time-picker {
    display: inline-block;

    .time-picker {
        display: flex;
        margin-top: 5px;
        width: 250px;
    }

    .time-picker-time-value {
        display: flex;
        flex: 1; 
        margin-left: 12px;
        user-select: none;

        .time-picker-hours, .time-picker-minute {
            font-size: 24px;
            font-weight: 300;
            border: 0;
            height: 28px;
            width: 26px;
            text-align: center;
            outline: 0;

            &.isSelected {
                color: $primary-color;
            }
        }

        .time-picker-colon {
            margin: 6px 2px 3px;
        }

        input.time-picker-hours,
        input.time-picker-minute {
            position: relative;
            top: 1px;
        }

        .time-picker-ampm-designator {
            margin-left: 4px;
            font-size: 12px;
            font-weight: 400;
            padding-top: 13px;
            cursor: pointer;
            width: 20px;
        
            &:hover {
                color: $primary-color;
            }
        }
    }

    .time-picker-sliders {
        flex: 0 1 165px;
        max-width: 165px;

        .slider-container .slider-slideBox {
            height: 18px;

            .slider-line {
                .slider-thumb {
                    width: 14px;
                    height: 14px
                }
            }
        }
    }
}

.date-time-picker + .date-time-picker {
    margin-left: 18px;
}
