@import '../../index.scss';

.date-time-picker {
    display: inline-block;

    .time-picker {
        display: flex;
        margin-top: 5px;
    }

    .time-picker-time-value {
        display: flex;
        flex: 1; 
        margin: 0 0 0 14px;
        user-select: none;

        .time-picker-hours, .time-picker-minute {
            font-size: 24px;
            font-weight: 300;
            border: 0;
            height: 28px;
            width: 26px;
            text-align: center;
            outline: 0;

            &.isSelected {
                color: $primary-color;
            }
        }

        .time-picker-colon {
            margin: 6px 2px 3px;
        }

        input.time-picker-hours,
        input.time-picker-minute {
            position: relative;
            top: -1px;
        }

        .time-picker-ampm-designator {
            margin-left: 4px;
            font-size: 12px;
            font-weight: 400;
            padding-top: 11px;
            cursor: pointer;
            width: 20px;
        
            &:hover {
                color: $primary-color;
            }
        }
    }

    .time-picker-sliders {
        flex: 0 1 165px;
        max-width: 165px;

        .slider-container .slider-slideBox {
            height: 15px;
            line-height: 15px;
        }
    }
}
