
.disk-information-container {
     .status-critical {
        color: #FF2F20;
    }

    .status-warning {
        color: #ffb900;
    }
}

.disk-information-callout {
    border: 1px solid #DADADB!important;
    border-radius: 8px;

    .callout-main {
        padding: 8px;
        border-radius: 8px;

        div + div {
            padding-top: 5px;
        }

        .status-critical {
            color: #FF2F20;
        }

        .status-warning {
            color: #ffb900;
        }
    }
}
