@import '../../../index.scss';

.disk-information-container {
     .status-critical {
        color: $error-color;
    }

    .status-warning {
        color: $warning-color;
    }
}

.disk-information-callout {
    border: 1px solid $gray-light-color!important;
    border-radius: 8px;

    .callout-main {
        padding: 8px;
        border-radius: 8px;

        div + div {
            padding-top: 5px;
        }

        .status-critical {
            color: $error-color;
        }

        .status-warning {
            color: $warning-color;
        }
    }
}
