 @import '../../../themes/basic-theme.scss';

.disk-information-container {
     .status-critical {
        color: $red-color!important;
    }

    .status-warning {
        color: $yellow-color!important;
    }
}

.disk-information-callout {
    border: 1px solid $light-text-color;

    .callout-main {
        padding: 8px;

        div {
            font-size: 14px;
            color: $emphasized-text-color;
        }

        div + div {
            padding-top: 5px;
        }

        .status-critical {
            color: $red-color;
        }

        .status-warning {
            color: $yellow-color;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}
