 @import '../../index.scss';

$tile-dashboard-background: $background-color;
$server-status-color: $basic-text-color;
$background-color: $background-color;

.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ReactVirtualized__Table__row {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  min-width: 0px;
  font-size: 13px;
  color: $emphasized-text-color;
}

.ReactVirtualized__Table__rowColumn {
  text-overflow: ellipsis;
  white-space: nowrap;
  border-right: 1px solid $search-border-color;
  height: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  padding-top: 6px;

  &.grid-component-cell {
    .status-critical {
        color: $red-color;
    }
    .status-warning {
        color: $yellow-color;
    }
    .status-ok {
        color: $emphasized-text-color;
    }
  }
}

.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  -webkit-flex: 0 0 24px;
     -moz-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
  margin-bottom: 3px;
}

.border-column-cell {
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

.server-column-cell {
    padding-left: 25px;
    font-size: 13px;
}

.server-dashboard-grid-cell-content {
    padding-left: 5px;
    font-size: 13px;
}

.server-grid-dashboard-container {
    overflow: hidden;   
    height: 100vh;
    @include baseFont();
    width: 100%;  
    overflow-y: auto;

    .farm {
        margin-top: 60px;
        margin-bottom: 0px;   
    }
    .Table {
        width: 100%;
        margin-top: 15px;
    }

    .headerRow,
    .evenRow,
    .oddRow {
        border-bottom: 1px solid #e0e0e0;        
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .oddRow {
        background-color: #fafafa;
    }

    .headerColumn {
        text-transform: none;       
        font-weight: 700; 
            
    }
    .exampleColumn {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // flex: 0 1 60px;  
    }

    .checkboxLabel {
        margin-left: .5rem;
    }
    .checkboxLabel:first-of-type {
        margin-left: 0;
    }

    .noRows {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        color: #bdbdbd;
    }

    .grid-header-column {
        border-right: 1px solid $search-border-color;
        box-sizing: border-box;

        span {
            color: $emphasized-text-color;
            font-size: 14px;
            padding-left: 4px;
            vertical-align: super;
        }
    }

    .grid-header-column:first-child {
        padding-left: 12px;
    }

    .grid-header-column:last-child, .ReactVirtualized__Table__rowColumn:last-child {
        border-right: 0;
    }

    .ReactVirtualized__Table__rowColumn:first-child {
        padding-left: 22px;
    }

    .server-status {
        width: 10px;    
        float: left;
        margin-right: 5px;
        height: 19px;
    }

    .grid-component-container {
        margin: 30px 10px 20px 20px;
        box-sizing: border-box;
        height: calc(100% - 60px);
        width: calc(100% - 20px);
    }

    .grid-component-cell {
        div {
            .status-critical {
                background-color: $red-color;
            }
            .status-warning {
                background-color: $yellow-color;
            }
            .status-ok {
                background-color: $green-color;
            }
        }
    }    
}
