@import '../../index.scss';

$Checkbox-label-size: 20px;
$Checkbox-transition-duration: 200ms;
$Checkbox-transition-timing: cubic-bezier(.4, 0, .23, 1);

.checkbox {
    box-sizing: border-box;
    color: $font-primary-color;
    font-family: $font-family-base;
    font-size: $font-size-m;
    font-weight: $font-weight-regular;
    position: relative;

    .checkbox-input {
        position: absolute;
        opacity: 0;
        top: 8px;
    }

    .checkbox-label::before {
        content: '';
        display: inline-block;
        border: 2px solid $font-primary-color;
        width: $Checkbox-label-size;
        height: $Checkbox-label-size;
        font-weight: normal;
        position: absolute;
        box-sizing: border-box;
        transition-property: background, border, border-color;
        transition-duration: $Checkbox-transition-duration;
        transition-timing-function: $Checkbox-transition-timing;
    }

    .checkbox-label {
        display: inline-block;
        cursor: pointer;
        margin-top: 8px;
        position: relative;
        vertical-align: top;
        user-select: none;
        min-width: $Checkbox-label-size;
        min-height: $Checkbox-label-size;
        line-height: $Checkbox-label-size;

        &.is-checked {
             &::after {
                display: block;

                &:hover {
                    border: 1px solid $secondary-hover-color;
                }
             }

             &.is-disabled {
                cursor: default;

                &::before {
                    background-color: $font-disabled-color;
                }
            }
        }

         &.is-disabled {
            cursor: default;

            &::before {
                border-color: $font-disabled-color;
                color: $font-disabled-color;
            }

            .label {
                color: $font-disabled-color;
            }
         }
    }

    .label {
        font-size: $font-size-m;
        @include padding(0, 0, 0, 26px);
        display: inline-block;
    }
    .label-with-icon{
        font-size: $font-size-m;
        @include padding(0, 0, 0, 2px);
        display: inline-block;
    }
    .label-icon{
        @include padding(0, 0, 0, 26px);
    }
    .checkboxCheckmark {
        color: #b9cb34;
        position: absolute;
        margin-top: 10px;
        margin-left: 3px;
    }
}
