@import '../../index.scss';

$checkbox-size: 16px;
$checkbox-transition-duration: 300ms;
$checkbox-transition-timing: cubic-bezier(.4, 0, .23, 1);

.checkbox {
    box-sizing: border-box;
    height: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;

    .checkbox-input {
        position: absolute;
        opacity: 0;
        top: -9999px;
        left: -9999px;
    }

    .checkbox-label {
        display: inline-block;
        cursor: pointer;
        margin-top: 5px;
        line-height: $checkbox-size;
        user-select: none;
        position: relative;

        &::before {
            content: '';
            border: 2px solid $secondary-color;
            border-radius: 4px;
            width: $checkbox-size;
            height: $checkbox-size;
            position: absolute;
            box-sizing: border-box;
            transition-property: background, border, border-color;
            transition-duration: $checkbox-transition-duration;
            transition-timing-function: $checkbox-transition-timing;
        }

        &.is-disabled {
            cursor: default;

            &::before {
                background-color: $white-color;
                border-color: $secondary-disabled-color;
            }

            .label {
                color: $secondary-disabled-color;
            }
        }

        &.is-checked {
            &.is-disabled {
               &::before {
                    background-color: $primary-disabled-color;
                    border-color: $primary-disabled-color;
               }

               .label {
                   color: $secondary-disabled-color;
               }
           }
        }
    }

    .label {
        padding: 0 0 0 25px;
    }

    &.checked {
        .checkbox-label::before {
            border-color: $primary-color;
            background-color: $primary-color;
        }

        .checkboxCheckmark {
            position: absolute;
            color: $white-color;
            font-size: 10px;
            margin-left: 3px;
        }
    }

    .label-icon {
        padding-left: 25px;
    }

    &.checkbox-white {
        .checkbox-label {
            &:before {
                border: 2px solid $white-color;
            }

            .label {
                color: $white-color;
            }

            &.is-disabled {
                &::before {
                    background-color: $secondary-disabled-color;
                    border-color: $secondary-disabled-color;
                }
    
                .label {
                    color: $secondary-disabled-color;
                }
            }
    
            &.is-checked {
                &.is-disabled {
                   &::before {
                        background-color: $secondary-disabled-color;
                        border-color: $secondary-disabled-color;
                   }
               }
            }
        }

        &.checked {
            .checkbox-label::before {
                border-color: $white-color;
                background-color: $white-color;
            }
    
            .checkboxCheckmark {
                position: absolute;
                color: $secondary-color;
                font-size: 10px;
                margin-left: 3px;
            }
        }
    }
}
