@import '../../index.scss';

@mixin fadeOut200() {
    -webkit-animation-duration: 367ms;
    -webkit-animation-name: fadeOut;
    -webkit-animation-fill-mode: both;
    animation-duration: 367ms;
    animation-name: fadeOut;
    animation-fill-mode: both;
    -webkit-animation-duration: 267ms;
    animation-duration: 267ms;
}

@mixin fadeIn200() {
    -webkit-animation-duration: 367ms;
    -webkit-animation-name: fadeIn;
    -webkit-animation-fill-mode: both;
    animation-duration: 367ms;
    animation-name: fadeIn;
    animation-fill-mode: both;
    -webkit-animation-duration: 267ms;
    animation-duration: 267ms;
}

.dialog {
    &.is-open {     
        display: block;
        line-height: 100vh;
        text-align: center;
    }

    &.is-animatingOpen {
        @include fadeIn200();
    }

    &.is-animatingClose {
        @include fadeOut200();
    }

    .dialog-main {
        vertical-align: middle;
        display: inline-block;
        border-radius: 8px;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
        background-color: $white-color;
        box-sizing: border-box;
        line-height: 1.35;
        position: relative;
        text-align: left;
        max-width: 500px;
        
        &:focus {
            outline: none;
        }

        .dialog-header {
            box-sizing: border-box;
            background-color: $primary-color;
            border-radius: 8px 8px 0 0;

            .dialog-title {
                margin: 0;
                font-size: 18px;
                font-weight: 100;
                padding: 13px 20px;
                color: $white-color;
                user-select: none;
            }

            .dialog-topButton {
                position: absolute;
                top: 0;
                right: 0;
                padding: 14px 12px 0 0;
            
                .dialog-button-close {
                    cursor: pointer;
                    color: $white-color;
                    font-size: 16px;
                }
            }
        }

        .dialog-inner {
            padding: 20px;

            .dialog-content {
                display: flex;
                align-items: center;

                .dialog-subText {
                    line-height: 1.5;
                }

                .dialog-icon {
                    font-size: 28px;
                    margin-right: 10px;
                }
            }

            .dialog-actions {
                margin-top: 30px;

                .dialog-actionsRight {
                    text-align: right;

                    .position-left {
                        float: left;
                        margin-left: 10px;
                    }

                    .dialog-action + .dialog-action {
                        margin-left: 15px;
                    }
                }
            }
        }        
    }
}
