@import '../../index.scss';

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fadeOut {
    from { opacity: 1 }
    to { opacity: 0 }
}

$dialog-section-padding: 20px;

.dialog {
    &.is-open {     
        display: block;
        line-height: 100vh;
        text-align: center;
        height: 100%;
    }

    &.is-animatingOpen {
        animation-name: fadeIn;
        animation-duration: 700ms;
        -webkit-animation-duration: 700ms;
    }

    &.is-animatingClose {
        animation-name: fadeOut;
        animation-duration: 700ms;
        -webkit-animation-duration: 700ms;
    }

    .dialog-main {
        vertical-align: middle;
        display: inline-block;
        border-radius: 8px;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.4);
        background-color: $white-color;
        box-sizing: border-box;
        line-height: 1.35;
        position: relative;
        text-align: left;
        max-width: calc(100% - 70px);
        max-height: calc(100% - 70px);

        &.dialog-container {
            height: 100%;
        }
        
        &:focus {
            outline: none;
        }

        .dialog-header {
            &.header-white {
                background-color: $white-color;
                color: $secondary-color;
            }

            &.header-inverse {
                background-color: $secondary-color;
            }

            box-sizing: border-box;
            background-color: $primary-color;
            color: $white-color;
            border-radius: 8px 8px 0 0;

            .dialog-title {
                margin: 0;
                font-size: 18px;
                font-weight: 100;
                padding: 13px 20px;
                color: inherit;
                user-select: none;
                height: 24px;
            }

            .dialog-topButton {
                position: absolute;
                top: 0;
                right: 0;
                padding: 14px 12px 0 0;
                color: inherit;
            
                .dialog-button-close {
                    cursor: pointer;
                    color: inherit;
                    font-size: 16px;
                }
            }
        }

        .dialog-inner {
            padding: 0 0 20px 20px;
            height: calc(100% - 70px);
            position: relative;

            .dialog-content {
                display: flex;
                max-height: calc(100% - 82px);
                overflow-y: auto;
                height: 100%;
                padding-right: 20px;
                padding-top: 20px;

                .dialog-subText {
                    line-height: 1.5;
                    display: inline-flex;
                    align-items: center;
                }

                .dialog-icon {
                    font-size: 28px;
                    margin-right: 10px;
                }
            }

            .dialog-footer {
                margin-top: 30px;
                padding-right: 20px;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .dialog-footer-section {
                    display: flex;

                    &.right {
                        padding-left: $dialog-section-padding;
                        flex-grow: 1;
                        justify-content: flex-end;
                    }

                    &.left {
                        padding-right: $dialog-section-padding;
                    }
                }
            }
        }
    }
}
