
.viewport-height{
    height: 90vh;
    width: 100%;
  //  margin-bottom:100px;
}

.empty-dasboard-message-container {
    position: absolute;
    top: 140px;
    width: 100%;
    text-align: center;
}
