
.viewport-height{
    height: 90vh;
    width: 100%;
}

.quick-grid-container{
    margin-top: 25px;
    margin-left: 25px;
    height: calc(100% - 103px);
    width: calc(100% - 25px);
}

.empty-dasboard-message-container {
    position: absolute;
    top: 140px;
    width: 100%;
    text-align: center;
}
