
.viewport-height{
    height: 90vh;
    width: 100%;

    &:focus {
        outline: none !important;
    }
}

.quick-grid-container{
    width: 100%;
}

.empty-dasboard-message-container {
    position: absolute;
    top: 140px;
    width: 100%;
    text-align: center;
}
