@import '../../index.scss';

.principal-container
{
    padding: 5px 0px 5px 10px;

    &:hover {
        background-color: $primary-background-hover-color;
        border-radius: 8px;
        cursor: pointer;
    }

    .principal-delete-icon {
        padding: 5px 5px 5px 5px;

        &:hover {
            cursor: pointer;
            background-color: $primary-background-hover-color;
            border-radius: 10px;
        }        
    }

    .principal-user-icon {
        color: $primary-color;
    }

    .principal-security-group-icon {
        color: $success-color;
    }

    .principal-share-point-group-icon {
        color: $error-color;
    }

    .principal-active-directory-group-icon {
        color: $success-color;
    }
}
