@import '../../index.scss';
@import '../Label/Label.scss';

.text-field {
    margin-bottom: 8px;

    .label {
        padding: 2px 0;
    }

    .textField-field {
        box-sizing: border-box;
        border: 1px solid $black-color-15;
        border-radius: 8px;
        padding: 5px 10px 6px 10px;
        width: calc(100% - 30px);
        outline: 0;
    
        &:hover {
            border-color: $secondary-color-40;
        }
    
        &:active,
        &:focus {
            border-color: $primary-color;
        }
    
        &[disabled] {
            background-color: $black-color-6;
            border-color: $black-color-15;
            color: $secondary-disabled-color;
            pointer-events: none;
            cursor: default;
        }

        &.textField-field-unresizable {
            resize: none;
        }

        &.textField-invalid {
            border-color: $error-color;

            &:hover {
                border-color: $error-color;
            }
        }
    }

    .textField-error-icon {
        position: relative;
        left: -20px;

        .icon {
            font-size: 12px;
            color: $error-color;
        }
    }

    .text-field-info-container {
        margin-left: 10px;
    }

    .text-field-info {
        color: $link-color;
    }

    .text-field-input-error-container {
        .text-field-input-error-info-container {
            float: right;
            position: relative;
            top: -25px;
            left: -1px;
        }
    }

    &.text-field-multiline {
        .textField-field {
            min-height: 32px;
            min-width: 200px;
        }

        .text-field-info-container {
            display: inline-flex;
            vertical-align: top;
        }

        .text-field-textarea-error-container {
            .text-field-textarea-error-info-container {
                float: right;
                position: relative;
                top: -25px;
                left: -1px;
            }
        }
    }

    &.text-field-underlined {
        width: 100%;

        &:hover {
            border-color: $secondary-color-40;
        }
    
        &:active,
        &:focus {
            border-color: $primary-color;
        }
    
        .textField-field {
            border: 0;
            border-bottom: 1px solid $secondary-color-40;
            border-radius: 0;

            &.textField-invalid {
                border-color: $error-color;
    
                &:hover {
                    border-color: $error-color;
                }
            }
        }
    
        &.is-disabled {
            border-bottom-color: $black-color-15;
    
            .label {
                color: $secondary-disabled-color;;
            }
        }
    
        &.is-active {
            border-color: $primary-color;
        }
    }

    &.is-disabled {
        .label {
            color: $secondary-disabled-color;
        }
    }

    &.is-required {
        .label:after {
            content: ' *';
            color: $error-color;
        }
    }
}
