@import '../../index.scss';
@import '../Label/Label.scss';

.text-field {
    margin-bottom: 8px;

    .textField-field {
        box-sizing: border-box;
        border: 1px solid $black-color-15;
        border-radius: 8px;
        padding: 5px 10px 6px 10px;
        width: 100%;
        outline: 0;
    
        &:hover {
            border-color: $secondary-color-40;
        }
    
        &:active,
        &:focus {
            border-color: $primary-color;
        }
    
        &[disabled] {
            background-color: $black-color-6;
            border-color: $black-color-15;
            color: $secondary-disabled-color;
            pointer-events: none;
            cursor: default;
        }

        &.textField-field-unresizable{
            resize: none;
        }
    }

    .textField-errorMessage {
        font-size: 12px;
        color: $error-color;
        margin: 0;
    }

    .textField-description {
        font-size: 12px;
    }

    &.text-field-underlined {
        border-bottom: 1px solid $secondary-color-40;
        display: table;
        width: 100%;

        &:hover {
            border-color: $secondary-color-40;
        }
    
        &:active,
        &:focus {
            border-color: $primary-color;
        }
    
        .textField-field {
            border: 0;
        }
    
        &.is-disabled {
            border-bottom-color: $black-color-15;
    
            .label {
                color: $secondary-disabled-color;;
            }
        }
    
        &.is-active {
            border-color: $primary-color;
        }
    }

    &.is-disabled {
        .label {
            color: $secondary-disabled-color;
        }
    }

    .is-required {
        .label:after {
            content: ' *';
            color: $error-color;
        }
    }
}
