@import '../../index.scss';

.compact-farm {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .farm {
        margin-bottom: 0;
        margin-top: 60px;

        .compact-server-container {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.callout-container {
    .callout {
        &.compact-farm-callout {
            border-radius: 0;
            
            .callout-main {
                border-radius: 0;
            }
        
            .server-details {
                margin: 0;
            }
        }
    }
}
