@import '../../index.scss';

.compact-farm{
    @include baseFont();
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: $basic-text-color;
        
    .farm {
        margin-bottom: 0px;
        margin-top: 60px;

        .compact-server-container:hover {
            cursor: pointer;
            background-color: #f9f9f9;
        }
    }
    .compact-dashboard-server{
            order:1;
    }
    .compact-server-container{
            font-size: 14px;
            max-width: 215px;
            display: inline-block;
            border-top: 1px solid $background-color;
            border-right: 1px solid $background-color;
            border-bottom: 1px solid $background-color;
    }        
}