@import '../../index.scss';

$searchBox-height: 30px; //30px + 2px border

.search {
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid $black-color-15;
    border-radius: 8px;

    &:hover {
        border-color: $secondary-color-40;
    }

    .search-field {
        box-sizing: border-box;
        border: none;
        outline: transparent 1px solid;
        height: $searchBox-height;
        line-height: $searchBox-height;
        padding: 6px 38px 7px 33px;
        width: 100%;
        background-color: transparent;
        transition: padding-left 167ms;
        border-radius: 8px;

        &:focus {
            padding-right: 32px;
        }
    }

    .search-icon {
        position: absolute;
        left: 10px;
        top: 0;
        height: $searchBox-height;
        line-height: $searchBox-height;
        font-size: 16px;
    }

    &.can-clear .search-clearButton {
        display: block;
    }

    &.is-active {
        border-color: $primary-color;

        .search-field {
            padding-left: 10px;
        }

        .search-icon {
            display: none;
        }
    }

    &.is-disabled {
        border-color: $black-color-15;
        user-select: none;

        .search-icon {
            color: $secondary-disabled-color;
        }

        .search-field {
            background-color: $black-color-6;
            pointer-events: none;
            cursor: default;
        }
    }

    &.is-underlined {
        border: 0;
        border-bottom: 1px solid $black-color-15;
        border-radius: 0;

        .search-field {
            padding-left: 10px;
        }

        .search-button {
            position: absolute;
            right: 0;
            top: -2px;
        }

        .search-clearButton {
            right: 35px;
        }

        &.is-disabled {
            .search-field {
                background-color: $white-color;
            }
        }
    }

    .search-clearButton {
        display: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: $searchBox-height;
        line-height: $searchBox-height;
        text-align: center;

        .icon:hover {
            color: $primary-color;
        }
    } 
}
