@import '../../index.scss';

.condition-selector-container {
    display: flex;
    justify-content: space-between;
    .selection-list-container{
        display: flex;
        flex-direction: row;
    }
}