@import '../../index.scss';
.condition-definition-item {
    .condition-definition-item {
        display: flex;
        justify-content: space-between;
        margin: 10px 5px;
        .conditions-group-container {
            width: 100%;
            .condition-definition-item {
                margin-right: 0;
            }
            .condition-definition-item:first-child  {
                margin-top: 0;
            }
            .condition-definition-item:last-child  {
                margin-bottom: 0;
            }
        }
        .single-condition-container {
            width: 100%;            
            &:hover {
                cursor: move;
            }
        }
        .condition-operator {
            border: 1px solid transparent;
            background-color: #F0F0F0;
            border-radius: 8px;
            padding: 5px 3px;
            margin-right: 3px;
            width: 50px;
        }
    }
}
.command-definition-row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    background-color: #F0F0F0;
    border-radius: 8px;
    padding: 5px;
    height: 40px;
    
    .left-content {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    
    .condtion-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        > div {
            padding-right: 15px;
        }
    }
    .dropdown, .text-field {
        margin-bottom: 0;
    }

    .condition-actions {
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
        .add-new-condition {
            border-color: $success-color!important;
            .icon{
                color: $success-color!important;
            }
        }
        .add-new-condition:hover, .add-new-condition:active {
            border-color: #73af54!important;
            .icon{
                color: #73af54!important;
            }
        }

        .delete-condition {
            border-color: $error-color!important;
            .icon{
                color: $error-color!important;
            }
        }
        .delete-condition:hover, .delete-condition:active  {
            border-color: #f75151!important;
            .icon{
                border-color: #f75151!important;
            }
        }
    }
}