@import '../../index.scss';

.checkboxlist {
    @include baseFont();
    font-size: $font-size-m;

    .collapsed {
        display: none;
    }

    .expanded {
        display: block;
    }

    .checkboxlist-item {
        cursor: pointer;
    }

    .checkboxlist-child {
        @include margin-left(15px);
    }
}