@import '../../index.scss';

.checkboxlist {
    .checkboxlist-item {
        cursor: pointer;

        .icon {
            font-size: 12px;
        }
    }

    .checkboxlist-child {
        margin-left: 15px;

        &.collapsed {
            display: none;
        }
    
        &.expanded {
            display: block;
        }
    }
}