@import '../../index.scss';

.checkboxlist {
    .checkbox-list-label {
        font-size: 16px;
        color: $primary-color;
        height: 28px;
        align-items: center;
        display: flex;
    }

    .checkboxlist-item {
        cursor: pointer;

        .icon {
            font-size: 12px;
        }
    }

    .checkboxlist-child {
        margin-left: 15px;

        &.collapsed {
            display: none;
        }
    
        &.expanded {
            display: block;
        }
    }
}
