@import '../../index.scss';

$column-height: 60px;
$details-width: 240px;
$details-height: 60px;
$row-height: 60px;
$row-width: 240px;
$tile-height: 214px;
$tile-width: 260px;
$warning-color: #ecd54a;
$ok-color: #008000;
$error-color: #e34848;
$counter-status-font-size: 18px;
$counter-info-font-size: 12px;
$counter-info-font-color: #9f9f9f;
$status-width: 20px;
$separator-color: #aeaeae;

.server-tile {
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    width: $tile-width;
    height: $tile-height;
    box-sizing: border-box;
    display: inline-block;
    margin: 5px 5px 5px 5px;
}

.ul-base {
    padding: 2px 2px 2px 2px;
    margin: 2px;
    display: block;
    list-style-type: none;
}

[class*='st-col-2'] {
    width: calc(50% - 2px);
    height: $column-height;
    position: relative;

    ul {
        @extend .ul-base;
    }
}

.tl-disk-container {
    ul {
        @extend .ul-base;
    }
}

[class*='st-col-'] {
    float: left;
    min-height: 1px;
}

.row:before, 
.row:after {
    content:"";
    display: table;
    clear: both;
}

.details {
    height: $details-height;
    width: $details-width;
    float: right;
}

.st-row {
    height: $row-height;
    width: $row-width;
    float: right;
}

[class^='server-tile-status'] {
    width: $status-width;
    height: $tile-height;
    float: left;
}

[class*='status-warning'] {
    color: $warning-color;
}

[class*='status-error'] {
    color: $error-color;
}

.server-tile-status-warning {
    background-color: $warning-color;
}

.server-tile-status-ok {
    background-color: $ok-color;
}

.server-tile-status-error {
    background-color: $error-color;  
}

.counter-data {
    text-align: center;
    font-size: $counter-status-font-size;
}

.counter-info {
    color: $counter-info-font-color;
    font-size: $counter-info-font-size;
    padding-left: 3px;
}

.tooltip {
    display: none;
    position: relative;
}

.tooltip-base {
    background: white;
    border: 1px solid black;
    color: #fff;
    padding: 5px 0px 0px 0px;
    position: absolute;
    z-index: 10;
    display: block;
    padding: 1px 1px 1px 1px;
    bottom: 25%;
}

.st-users:hover .tooltip {
    @extend .tooltip-base;
    left: 85%;
    bottom: 70%;
}

.st-col-2-r:hover .tooltip {
    @extend .tooltip-base;
    left: 66%;
}

.st-col-2-l:hover .tooltip {
    @extend .tooltip-base;
    right: 66%;
}

.server-name {
    padding-left: 5px;
    display: inline-block;
}

.server-name-container {
    display:inline-block;
}

.header {
    margin: auto;
    position: relative;
    width: $details-width;
    float: right;
}

.tooltip-label {
    white-space: nowrap;
    font-size: 12px;
    display: inline-block;
    padding: 1px 1px 1px 1px;
}

.tl-server-name-container {
    display: inline-block;
}

.tl-server-name-container:hover .tooltip {
    @extend .tooltip-base;
    bottom: 70%;
    right: 60%;
}

.tl-disk-container:hover .tooltip {
    @extend .tooltip-base;
    bottom: 70%;
}