@import '../../index.scss';

.server-details {
    box-sizing: border-box;
    width: 261px;
    height: 216px;
    padding: 5px;
    margin: 8px;
    float: left;
    border-left: 10px solid;
    border-top: 1px solid $secondary-color-20;
    border-right: 1px solid $secondary-color-20;
    border-bottom: 1px solid $secondary-color-20;   
    
    &:hover {
        & > .server-details-header > .icon-delete {
            visibility: visible;
        }
    }

    .server-details-header {
        margin: 5px 0 10px 0;
        height: 45px;

        .server-name {
            padding: 0 0 0 5px;
            display: inline-block;
            font-size: 16px;
            max-width: 60%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: bottom;            
        }

        .icon-delete {
            padding: 5px;
            float: right;
            visibility: hidden;

            &:hover {
                color: $error-color;
                cursor: pointer;
            }
        }

        .disk-information-container {
            float: right;

            .disk-icon {
                margin: 5px;
            }
        }

        .icon-user{
            padding: 2px;
            float: right;
            
            &:after {
                content: attr(data-users);
                margin-left: 2px;
                font-family: 'Segoe UI';
            }
        }    
    }

    .counters-container {
        margin: 6px 0 6px 0;

        .tile {
            width: calc(45% - 12px);
            display: inline-block;
            text-align: center;
            border-top: 1px solid $secondary-color-20;
            padding-left: 3px;
            padding-right: 3px;

            p {
                text-align: center;
                font-size: 12px;
                margin: 10px 0 2px 0;
            }

            &:nth-child(odd) {
                border-right: 1px solid $secondary-color-20;
                margin-left: calc(5% + 1px);
            }

            .label {
                display: inline-block;

                &.status-warning {
                    color: $warning-color;
                }
                &.status-critical {                
                    color: $error-color;
                }
            }

            .label:nth-child(2) {
                font-size: 24px;
                max-width: 45%;
                text-overflow: ellipsis;
                overflow: hidden;
                display: inline-flex;
            }
        }
    }

    &.status-ok {
        border-left-color: $ok-status-server;
    }

    &.status-warning {
        border-left-color: $warning-status-server;
    }

    &.status-critical {
        border-left-color: $error-status-server;
    }

    &.status-offline {
        border-left-color: $secondary-color-20;
    }
}
