 @import '../../index.scss';

.filtering-bar-item {
    float:right;
    margin: 0 3px;
    padding: 2px 6px;
    cursor: pointer;
    font-size: 14px;
    background-color: #efefef;

    &.filtering-bar-item-selected {
        background-color: $secondary-color;
        color:white;
    }
}
