@import '../../index.scss';

$LeftNavigation-transition-duration: 300ms;
$LeftNavigation-expanded-width: 170px;
$LeftNavigation-collapsed-width: 45px;

.left-nav {
    background-color: $primary-color;
    @include float(left);
    @include baseFont();
    top: 40px;
    height: 470px;

    
    .icon {
        font-size: larger;
    }

    .nav-item {
        font-weight: 400;
        @include padding(6px, 8px, 6px, 12px);
        cursor: pointer;

        a {
            span, .icon {
                color: $font-primary-color;
            }
        }

        &.selected {
            background-color: $secondary-color;

            a {
                span, .icon {
                    color: $color-white;
                }
            }
        }

        &.disabled {
            pointer-events: none;

            a {
                span, .icon {
                    opacity: 0.4;
                }
            }
        }
    }

    &.expanded {
        width: $LeftNavigation-expanded-width;
        left: 0;
        transition-duration: $LeftNavigation-transition-duration;

        .nav-item a span {
            display: inline-block;
            position: absolute;
            font-size: $font-size-m;
        }
    }

    &.collapsed {
        width: $LeftNavigation-collapsed-width;
        left: -250px;
        transition-duration: $LeftNavigation-transition-duration;

        .nav-item a span {
            display: none;
        }
    }
}
