@import '../../index.scss';

$leftNavigation-transition-duration: 300ms;
$leftNavigation-expanded-width: 170px;
$leftNavigation-collapsed-width: 45px;

.left-nav {
    background-color: $secondary-color;
    float: left;
    top: 40px;
    height: 100%;
 
    .icon {
        font-size: 16px;
        color: $white-color;
    }

    .nav-item {
        padding: 6px 8px 6px 14px;
        cursor: pointer;

        a {
            span, .icon {
                color: $white-color;
            }
        }

        &:hover {
            a {
                span, .icon {
                    color: $primary-color;
                }
            }

        }

        &.selected {
            a {
                span, .icon {
                    color: $primary-color;
                }
            }
        }

        &.disabled {
            pointer-events: none;

            a {
                span, .icon {
                    color: #B7B7B8;
                }
            }
        }
    }

    &.expanded {
        width: $leftNavigation-expanded-width;
        transition-duration: $leftNavigation-transition-duration;
        left: 0;

        .nav-item a span {
            display: inline-block;
            position: absolute;
        }
    }

    &.collapsed {
        width: $leftNavigation-collapsed-width;
        transition-duration: $leftNavigation-transition-duration;
        left: -250px;

        .nav-item a span {
            display: none;
        }
    }
}
