@import '../../styles/variables.scss';

$leftNavigation-transition-duration: 300ms;
$leftNavigation-text-transition-duration: 2*$leftNavigation-transition-duration;
$leftNavigation-expanded-width: 170px;
$leftNavigation-collapsed-width: 45px;

.left-nav {
    background-color: $secondary-color;
    float: left;
    top: 40px;
    height: 100%;
 
    .icon {
        font-size: 16px;
        color: $white-color;
        fill: $white-color;
    }

    .nav-item {
        cursor: pointer;
        padding: 0 8px 0 14px;
        height: 30px;
        display: flex;
        align-items: center;

        a {
            span, .icon {
                color: $white-color;
                fill: $white-color;
            }
        }

        &:hover {
            a {
                span, .icon {
                    color: $primary-color;
                    fill: $primary-color;
                }
            }

        }

        &.selected {
            a {
                span, .icon {
                    color: $primary-color;
                    fill: $primary-color;
                }
            }
        }

        &.disabled {
            pointer-events: none;

            a {
                span, .icon {
                    color: $white-background-lines-hover;
                    fill: $white-background-lines-hover;
                }
            }
        }

        &.position-down {
            bottom: 15px;
            position: absolute;
        }
    }

    &.expanded {
        width: $leftNavigation-expanded-width;
        transition-duration: $leftNavigation-transition-duration;
        left: 0;

        .nav-item a span {
            animation-name: fadeIn;
            animation-duration: $leftNavigation-text-transition-duration;
            -webkit-animation-duration: $leftNavigation-text-transition-duration;
            display: inline-block;
            position: absolute;
            margin-top: -2px;
        }
    }

    &.collapsed {
        width: $leftNavigation-collapsed-width;
        transition-duration: $leftNavigation-transition-duration;

        .nav-item a span {
            display: none;
        }
    }
}
