 @import '../../index.scss';

.breadcrumbs-dropdown {
    display: inline-block;

    .callout-main {
        @include disableUserSelection();
        ul {
            font-size: 13px;
            li {
                cursor: pointer;
                padding: 5px;
                text-align: center;

                &:hover {
                    background-color: lightblue;
                }
            }
        }
    }
}

.breadcrumbs-item {
    display: block;
    margin: 0;
    padding: 0px 5px 0px 5px;

    @include disableUserSelection();

    .icon {
        margin-top: 4px;
        vertical-align: middle;
    }

    .breadcrumbs-item-label {
        display: inline-block;
        font-weight: 500;
        color: $font-primary-color;
        display: inline-block;
        padding: 0 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;
        margin-top: 8px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: $secondary-color;
        }
    }

    div:nth-child(2) {
        display: inline-block;
        vertical-align: sub;
    }

    .icon:hover {
        color: $secondary-color;
    }
}
