 @import '../../index.scss';

.breadcrumbs-dropdown {
    .callout-main {
        @include disableUserSelection();
        ul {
            font-size: 13px;
            li {
                cursor: pointer;
                padding: 5px;
                text-align: center;

                &:hover {
                    background-color: lightblue;
                }
            }
        }
    }
}

.breadcrumbs {
    @include baseFont();
    @include disableUserSelection();
    margin-top: 25px;

    .breadcrumbs-list {
        white-space: nowrap;
        padding: 0;
        margin: 0;

        div { 
            display: inline-block; 
        }
    }

    .breadcrumbs-list-item {
        list-style-type: none;
        vertical-align: top;
        margin: 0;
        padding: 0;
        display: inline-block;
        position: relative;
        font-size: $font-size-m;
        cursor: pointer;

        .icon {
            margin: 0;
            cursor: pointer;
        }

        div {
            padding: 0px 5px 0px 5px;
        }
    }

    .breadcrumbs-item-link {
        font-weight: 500;
        color: $font-primary-color;
        display: inline-block;
        padding: 0 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: sub;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: $secondary-color;
        }
    }
}
