@import '../../index.scss';

.breadcrumbs-dropdown-callout {
    display: inline-block;
    z-index: 1000;

    .callout-main {
        @include disableUserSelection();
        width: 150px !important;

        ul {
            font-size: 13px;
            li {
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
                cursor: pointer;
                padding: 5px 10px;

                &:hover {
                    background-color: lightblue;
                }
            }
        }
    }
}

.breadcrumbs-item {
    display: block;
    margin: 0;
    padding: 0;

    @include disableUserSelection();

    .breadcrumbs-item-title {

        display: inline-block;
        vertical-align: top;

        .breadcrumbs-item-label {
            display: inline-block;
            font-weight: 500;
            color: $font-primary-color;
            display: inline-block;
            padding: 0px 6px 0px 0px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: middle;
            margin-top: 5px;
            cursor: pointer;

            &:hover {
                color: $secondary-color;
            }
        }

        .breadcrumbs-item-icon {
            margin-top: 4px;
            margin-right: 3px;
            vertical-align: middle;

             &.breadcrumbs-icon-home {
                margin-right: 8px;
            }
        }
    }

    div:last-child {
        display: inline-block;

        .breadcrumbs-dropdown {
            margin: 0;
            .dropdown-title > i {
                font-size: 12px;
            }
            i:nth-child(2) {
                display: none;
            }
        }
    }

    .icon:hover {
        color: $secondary-color;
    }
}
