 @import '../../index.scss';

.breadcrumbs {
    .breadcrumbs-list {
        display: inline-block;
        white-space: nowrap;
        padding: 0;
        margin: 0;
    }

    .breadcrumbs-list-item {
        display: inline-block;
        position: relative;
        margin-left: 1px;
        cursor: pointer;
    }

    .icon-home {
        cursor: pointer;

        &:hover {
            color: $primary-color;
        }
    }
}
