@import '../../index.scss';

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

.tooltip-container {
    display: inline;
}

.tooltip-callout {
    user-select: none;
    max-width: 400px;
    animation-name: fadeIn;
    animation-duration: 700ms;
    -webkit-animation-duration: 700ms;

    &.tooltip-white {
        border: 1px solid $secondary-color-45!important;
        background-color: $white-color;

        .callout-beak {
            background-color: $white-color;
        }
        
        .callout-main {
            .tooltip-content span {
                color: $secondary-color;
                white-space: pre-line;
            }
        }
    }

    &.tooltip-gray {
        border: 1px solid $secondary-color;
        background-color: $secondary-color;

        .callout-beak {
            background-color: $secondary-color;
        }

        .callout-beak-curtain {
            background-color: $secondary-color;
        }

        .callout-main {
            background-color: $secondary-color;

            .tooltip-content span {
                color: $white-color;
                white-space: pre-line;
            }
        }
    }

    .callout-beak-curtain {
        border-radius: 7px;
    }

    .callout-main {
        padding: 12px 20px;
    }

    &.tooltip-error {
        border: 1px solid $error-color;
        background-color: $error-color;

        .callout-beak {
            background-color: $error-color;
        }

        .callout-beak-curtain {
            background-color: $error-color;
        }

        .callout-main {
            background-color: $error-color;
            padding: 4px 10px;

            .tooltip-content span {
                color: $white-color;
                font-size: 12px;
                white-space: pre-line;
            }
        }
    }
}