@import '../../index.scss';

.tip-container {
    pointer-events: none;
    polygon, rect {
        fill: #f6f6f6;
    }
    .tip-text {
        font-family: $font-family-base;
        font-size: 12px;
        fill: #898989;
        font-weight: 400;
    }
}