@import '../../index.scss';

.tip-container {
    pointer-events: none;
    polygon, rect {
        fill: white;
        pointer-events: inherit;
        opacity: 0.8;
    }
    .tip-text {
        font-family: $font-family-base;
        font-size: 12px;
        fill: black;
        font-weight: 400;
        pointer-events: inherit;
    }
}