@import '../../index.scss';

.callout-container {
    position: relative;

    .callout {
        position: absolute;
        border: 1px solid $secondary-color;
        box-sizing: border-box;

        &.callout-no-border {
            border: 0;
        }

        .callout-main {
            background-color: $white-color;
            overflow-y: auto;
            overflow-x: hidden;
            position: relative;
        }

        .callout-beak {
            position: absolute;
            background-color: $white-color;
            box-shadow:  inherit;
            border: inherit;
            box-sizing: border-box;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        
        .callout-beak-curtain {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $white-color;
        }
    }
}
