@import '../../../styles/variables.scss';

.column-picker-container {
    margin: 10px 15px 10px 20px;
    min-width: 156px;

    &__header {
        display: flex;
        margin-bottom: 4px;
    }

    &__close-button {
        margin-left: auto;
        margin-right: 0 !important;
        cursor: pointer;
    }

    &:last-child {
        margin-bottom: 0 !important;
    }
}