//color
$black-color: #000000;
$white-color: #ffffff;

$primary-color: #F79428;
$primary-hover-color: #E27600;
$primary-disabled-color: #FAC992;
$primary-background-hover-color: #FDEAD4;

$secondary-color: #4D4D4F;
$secondary-hover-color: #313133;
$secondary-disabled-color: #AEAEAF;

$tertiary-color: #37B2B7;
$tertiary-hover-color: #009BA1;
$tertiary-disabled-color: #AEE0E2;

$link-color: #25A7EF;
$link-hover-color: #008DDB;

$white-background-lines: #DADADB;
$white-background-lines-hover: #B7B7B8;
$gray-background-lines: #686869;
$gray-background-lines-hover: #838384;

$disabled-field: #F3F3F4;
$bar-char-fill-color: #D4EAFD;

//color with opacity
$primary-color-30: #FCDEBD;
$primary-color-50: #FAC992;

$secondary-color-20: #DADADB;
$secondary-color-45: #AEAEAF;

$error-color: #FB6464;
$warning-color: #EAC71A;
$success-color: #7DC458;

$error-hover-color: #c85050;
$error-disabled-color: #fca2a2;
$success-hover-color: #649c46;
$success-disabled-color: #b1db9a;

// server status
$error-status-server: $error-color;
$warning-status-server: $warning-color;
$ok-status-server: $success-color;

// messageBar
$error-text-color: $error-color;
$warning-text-color: $warning-color;
$success-text-color: $success-color;
$info-text-color: $secondary-color;



* {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: $secondary-color;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: $secondary-color-20;
    border: 2px solid transparent;
    background-clip: content-box;   // this is important
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $secondary-color-45;

    &:hover {
        background: $secondary-color;
    }
}

.ReactVirtualized__Grid, .ReactVirtualized__Collection {
    &:focus {
        outline: none !important;
    }
}
