//color
$black-color: #000000;
$white-color: #ffffff;
$primary-color: #F79428;
$primary-hover-color: #E27600;
$primary-disabled-color: #FBD3A8;
$secondary-color: #4D4D4F;
$secondary-hover-color: #313133;
$secondary-disabled-color: #C8C8C9;
$tertiary-color: #37B2B7;
$tertiary-hover-color: #009BA1;
$tertiary-disabled-color: #AEE0E2;

$link-color: #25A7EF;
$link-hover-color: #008DDB;

$error-color: #FF2F20;
$warning-color: #ffb900;
$success-color: #5FB005;

//color with opacity
$primary-color-30: #FCDEBD;
$primary-color-40: #FBD3A8;
$primary-color-50: #FAC992;
$primary-color-60: #FABE7D;

// $secondary-color-30: #A7A7A7; // sta je ovo
$secondary-color-20: #DADADB;
$secondary-color-30: #C8C8C9;
$secondary-color-40: #B7B7B8;

$black-color-6: #EFEFEF;
$black-color-15: #D8D8D8;
$black-color-30: #B2B2B2;


* {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: $secondary-color;
}

::-webkit-scrollbar {
    width: 13px;
    margin-top: 10px;
    border-radius: 15px;
    margin-right: 3px;
    background: transparent;
}
            
::-webkit-scrollbar-track {
    border-radius: 15px;
    margin-top: 7px;
    background: $secondary-color-20;
    margin-bottom: 7px;
}
            
::-webkit-scrollbar-thumb {
     border-radius: 10px;
     margin-top: 10px;
     background: #F2953C;               
}

::-webkit-scrollbar-thumb:window-inactive {
     background: #F2953C; 
}

.ReactVirtualized__Grid, .ReactVirtualized__Collection {
    &:focus {
        outline: none !important;
    }
}
