//color
$black-color: #000000;
$white-color: #ffffff;
$primary-color: #F79428;
$primary-hover-color: #E27600;
$primary-disabled-color: #FBD3A8;
$primary-background-hover-color: #FDEAD4;
$secondary-color: #4D4D4F;
$secondary-hover-color: #313133;
$secondary-disabled-color: #AEAEAF;
$tertiary-color: #37B2B7;
$tertiary-hover-color: #009BA1;
$tertiary-disabled-color: #AEE0E2;

$bar-char-fill-color: #D4EAFD;

$link-color: #25A7EF;
$link-hover-color: #008DDB;

$error-color: #FB6464;
$warning-color: #EAC71A;
$success-color: #7DC458;

// server status
$error-status-server: $error-color;
$warning-status-server: $warning-color;
$ok-status-server: $success-color;

// messageBar
$error-text-color: $error-color;
$warning-text-color: $warning-color;
$success-text-color: $success-color;
$info-text-color: $secondary-color;

//color with opacity
$primary-color-30: #FCDEBD;
$primary-color-50: #FAC992;
$primary-color-60: #FABE7D;

$secondary-color-20: #DADADB;
$secondary-color-40: #B7B7B8;
$secondary-color-45: #AEAEAF;

$black-color-4: #F4F4F4;
$black-color-6: #EFEFEF;
$black-color-15: #D8D8D8;
$black-color-30: #B2B2B2;

$white-color-15: #686869;


* {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: $secondary-color;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: $black-color-6;
    border-radius: 15px;
}
            
::-webkit-scrollbar-track {
    border-radius: 15px;
}
            
::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background: $primary-color;               
}

::-webkit-scrollbar-thumb:window-inactive {
     background: $primary-color; 
}

.ReactVirtualized__Grid, .ReactVirtualized__Collection {
    &:focus {
        outline: none !important;
    }
}
