@import '../../styles/variables.scss';

.progress-bar-component {
    position: relative;
    display: inline-block;

    svg {
        overflow: visible;

        g {
            rect {
                cursor: default;
            }
        }
    }

    .percentage-label {
        display: inline-block;
        padding: 0 0 0 10px;
        position: relative;
        top: -3px;
    }
}
