@import './../../../styles/variables.scss';

.__progress-base__ {
    position: absolute;
    top: 36px;
    height: 1px;
    border-top: $white-background-lines 2px solid;
    content: "";
}

.step {
    position: relative;
    flex-grow: 1;
    display: flex;

    .step-circle {
        min-width: 24px;
        height: 24px;
        border-radius: 50%;
        text-align: center;
        border: $secondary-color-45 2px solid;
        box-sizing: border-box;

        &.completed {
            background-color: $primary-color;
        }

        &.active {
            border-color: $primary-color;
        }
    }
 
    .step-title {
        font-size: 16px;
        text-align: center;
        user-select: none;
        cursor: auto;
        color: $secondary-color;
        padding-left: 8px;
        text-overflow: ellipsis;
        white-space: nowrap;  
        overflow: hidden;

        &.active{
            font-weight: bold;
        }
    }
}
.step-connector{
    border-right: $white-background-lines 2px solid;
    height: 30px;
    width: 11px;

    &.active {
         border-color: $primary-color;
    }

    &.completed{
         border-color: $primary-color;
    } 
}
