@import '../../index.scss';
.hoverable-items__container {
    .hoverable-items__component {
        display: inline-block;
        width: 100%;
    }
    .hoverable-items-container__btn {
        display: inline-block;
        position: absolute;
        right: 0;
        background-color: $white-color;
        .hoverable-items__btn {
            display: inline-block;
            margin-right: 8px;
            z-index: 1;
            .icon:hover {
                color: $primary-color;
                fill: $primary-color;
            }
        }
    }
}