@import '../../index.scss';

.farm {
    // width: calc(100% - 50px);
    // float: left;
    padding: 5px;
    margin: 20px;
    position: relative;

    // .farm-name{
    //     position: absolute;
    //     background: inherit;
    //     top: -22px;
    //     left: 30px;
    //     padding: 5px;
    //     padding-top: 0;
    //     padding-bottom: 0;
    
    // }

    &.farm-name-inside {
        .farm-name {        
            position: absolute;
            // background: inherit;
            // font-size: 20px;
            padding: 5px 8px;
            // padding-top: 10px;
            width: initial;
            top: -30px;
            user-select: none;
            // padding-bottom: 0;
            // top: -35px;
            // left: -2px;
            // padding-left: 15px;

            span {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 18px;
                color: $primary-color;
            }
    
            .group-actions {
                // position: relative;
                display: inline-block;
                padding: 0 0 5px 20px;
    
                .icon {
                    visibility: hidden;
                    // position: relative;
                    padding: 0 3px;
                }
            }
    
            &:hover {
                .group-actions > .icon {
                    visibility: visible;
                }
            }
    
            .group-title-clickable:hover {
                color: $primary-hover-color;
                cursor: pointer;
            }
    
            .icon {
                // padding: 2px;
                padding-top: 5px;
                position: relative;
                float: right;

                &:hover {
                    cursor: pointer;
                }
    
                &.group-icon {
                    float: left;
                    font-size: 16px;
    
                    &:hover {
                        cursor: default;
                    }
                }

                &.icon-delete:hover {
                    color: $error-color;
                }
        
                &.icon-edit:hover {
                    color: $link-color;
                }
        
                &.icon-add:hover {
                    color: #5FB005;
                } 
            }
        }
    }
    

    // .farm-name {
    //     position: absolute;
    //     background: inherit;
    //     top: -22px;
    //     left: 30px;
    //     padding: 5px;
    //     padding-top: 0;
    //     padding-bottom: 0;
    // }
}
