

.farm {
    
    width: calc(100% - 50px);
    float: left;
    padding: 5px;
    margin: 20px;
    margin-top:50px;
    position: relative;
    border: 1px solid #828282;
    border: 1px solid #e8e9ef;
    background-color: white;
    font:14px;
}
.farm-name{
    position: absolute;
    background: inherit;
    top: -22px;
    border-top: 1px solid #e8e9ef;
    border-left: 1px solid #e8e9ef;
    border-right: 1px solid #e8e9ef;
    left: 30px;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;

}

.farm-name-inside{
    .farm-name{        
        position: absolute;
        background: inherit;
        font-size: 20px;
        padding: 5px;
        padding-top: 10px;
        width:270px;
        padding-bottom: 0;
        top: -43px;
        left: -1px;
        padding-left: 15px;
        border: 1px solid #e8e9ef;
        border-bottom: white;
        span{
            display: inline-block;
            width: calc(100% - 80px);
            white-space: nowrap;
            overflow: hidden;
            cursor:pointer;
            text-overflow: ellipsis;
            position: relative;
        }
        span:hover{
            color:#0078d7;
        }

        .icon{
                padding: 2px;
                padding-top:3px;
                 position: relative;
                float: right;
                font-size: 16px;
        }
        .icon:hover{
            cursor: pointer;
        }
        .icon.icon-Delete:hover{
            color: red;
        }
        .icon.icon-Edit:hover{
            color: #0078d7;
        }
        .icon.icon-Add:hover{
            color: #7DC458;
        }
        
    }
}

