@import '../../styles/variables.scss';

.farm {
    padding: 5px;
    margin: 20px;
    position: relative;

    &.farm-name-inside {
        .farm-name {        
            position: absolute;
            padding: 5px 8px;
            width: initial;
            top: -30px;
            user-select: none;

            span {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 18px;
                color: $primary-color;
            }
    
            .group-actions {
                display: inline-block;
                padding: 0 0 5px 20px;
    
                .icon {
                    visibility: hidden;
                    padding: 0 3px;
                }
            }
    
            &:hover {
                .group-actions > .icon {
                    visibility: visible;
                }
            }
    
            .group-title-clickable:hover {
                color: $primary-hover-color;
                cursor: pointer;
            }
    
            .icon {
                padding-top: 5px;
                position: relative;
                float: right;

                &:hover {
                    cursor: pointer;
                }
    
                &.group-icon {
                    float: left;
                    font-size: 16px;
    
                    &:hover {
                        cursor: default;
                    }
                }

                &.icon-delete:hover {
                    color: $error-color;
                }
        
                &.icon-edit:hover {
                    color: $link-color;
                }
        
                &.icon-add:hover {
                    color: $success-color;
                } 
            }
        }
    }
}
