@import '../../index.scss';

 .slider {
    user-select: none;
    margin-bottom: 8px;

    > .label {
        padding: 0;
     }

    .slider-line {
        position: relative;
        width: 100%;
    }

    .slider-line span:not(:first-child) {
        height: 4px;
        @include float(left);
        border-radius: 4px;
    }
}

.slider-active {
    background: #666666;
}

.slider-inactive {
    background: #c8c8c8;
}

.slider-showTransitions {
    .slider-thumb {
        transition: left 367ms cubic-bezier(.1,.9,.2,1);;
    }

    .slider-active,
    .slider-inactive {
        transition: width 367ms cubic-bezier(.1,.9,.2,1);;
    }
}

.slider-slideBox {
    background: transparent;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
}

.slider-slideBox .slider-thumb {
    border: 2px solid #666666;
    box-sizing: border-box;
    background: $color-white;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -6px;
    border-radius: 10px;
    transform: translateX(-50%);
}

.slider-container {
    display: flex;
    width: 300px;

    .slider-slideBox {
        flex-grow: 1;
        height: 28px;
        line-height: 28px;
        padding: 0 8px; // Make room for thumb at ends of line
    }

    .label {
        flex-shrink: 1;
        width: 30px;
        @include margin-left(8px);
    }
}

.slider-enabled {

  .slider-slideBox:hover,
  .slider-slideBox:active {

    .slider-thumb {
        border: 2px solid $secondary-color;
    }

    .slider-active {
        background-color: $secondary-color;
    }

    .slider-inactive {
        background-color: #c7e0f4;
    }

  }

  .slider-slideBox:active {
    .slider-thumb {
        border: 2px solid $secondary-color;
    }
    .slider-active {
        background-color: $secondary-color;
    }
  }
}

.slider-disabled {
    .slider-thumb {
        border-color: #c8c8c8;
    }
    .slider-active {
        background: #c8c8c8;
    }
    .slider-inactive {
        background: $primary-hover-color;
    }
}
