@import '../../index.scss';

 .slider {
    > .label {
        padding: 0;
    }

    .slider-container {
        display: flex;
    
        .slider-slideBox {
            flex-grow: 1;
            height: 28px;
            line-height: 28px;
            padding: 0 8px;
            background: transparent;
            border: none;
            outline: 0;

            &.slider-showTransitions {
                .slider-thumb {
                    transition: left 367ms cubic-bezier(.1,.9,.2,1);
                }
            
                .slider-active,
                .slider-inactive {
                    transition: width 367ms cubic-bezier(.1,.9,.2,1);
                }
            }
        }
    
        .label {
            flex-shrink: 1;
            width: 30px;
            margin-left: 8px;
        }
    }

    .slider-line {
        position: relative;
        width: 100%;

        .slider-active,
        .slider-inactive {
            float: left;
            height: 2px;
        }

        .slider-thumb {
            border: 2px solid $primary-color;
            background-color: $primary-color;
            top: -7px;
            box-sizing: border-box;
            width: 16px;
            height: 16px;
            position: absolute;
            border-radius: 10px;
            transform: translateX(-50%);
        }
    
        .slider-active {
            background-color: $primary-color;
        }
    
        .slider-inactive {
            background-color: $secondary-disabled-color;
        }
    }

    &.slider-enabled {
        .slider-slideBox:hover, .slider-slideBox:active {
            .slider-thumb {
                border: 2px solid $primary-hover-color;
                background-color: $primary-hover-color;
            }
            
            .slider-active {
                background-color: $primary-hover-color;
            }
            
            .slider-inactive {
                background-color: $secondary-disabled-color;
            }      
        }
    }
    
    &.slider-disabled {
        .slider-thumb {
            border: 2px solid $primary-color-50;
            background-color: $primary-color-50;
        }
    
        .slider-active {
            background-color: $primary-color-30;
        }
    
        .slider-inactive {
            background-color: $secondary-color-20;
        }

        .slider-value {
            color: $secondary-disabled-color;
        }
    }
}
