@import '../../index.scss';

$choiceField-size: 16px;
$choiceField-transition-duration: 300ms;
$choiceField-transition-duration-inner: 150ms;
$choiceField-transition-timing: cubic-bezier(.4, 0, .23, 1);

.choiceField {
  box-sizing: border-box;
  position: relative;
  line-height: 28px;

  .label {
    padding: 0 0 0 20px;
  }

  .choiceField-input {
    position: absolute;
    opacity: 0;
  }

  .choiceField-field {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &::before {
      content: '';
      border: 2px solid $secondary-color;
      width: $choiceField-size;
      height: $choiceField-size;
      position: absolute;
      box-sizing: border-box;
      transition-property: background, border, border-color;
      transition-duration: $choiceField-transition-duration;
      transition-timing-function: $choiceField-transition-timing;
      border-radius: 50%;
    }

    &::after {
      content: '';
      width: $choiceField-size / 2;
      height: $choiceField-size / 2;
      border-radius: 50%;
      position: absolute;
      left: 4px;
      transition-property: top, left, right, width, height;
      transition-duration: $choiceField-transition-duration-inner;
      transition-timing-function: $choiceField-transition-timing;
      box-sizing: border-box;
    }

    &:hover,
    &:focus {
        &::before {
          border-color: $secondary-color;
        }
    }
  
    &.is-checked {
      &::before {
        border: 2px solid $primary-color;
      }
      
      &::after {
        background-color: $primary-color;
      }
      
      &:hover,
      &:focus {
        &::before {
          border-color: $primary-color;
        }
      }
    }
  
    &.is-disabled {
      cursor: default;
      
      .label {
        color: $secondary-disabled-color;
      }

      &::before {
        border-color: $secondary-disabled-color;
      }
  
      &.is-checked {
        &::before {
          border-color: $primary-disabled-color;
        }

        &::after {
          background-color: $primary-disabled-color;
        }
      }
    }
  }
}